<div style="background-color:rgb(248,248,249);">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div class="container" style="min-height:600px;width:1000px;" layout="column">
        <div class="center-block" style="background-color:rgb(45,46,44); color:white; border-radius:50%; width:100px;height:100px;margin-top:20px; margin-bottom:40px;">
            <h4 style="line-height:80px;text-align:center;">关于我们</h4>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <p>
            2015年5月17日，我从George Washington University毕业，按计划回国工作。在经历了两年的留学生涯之后，我对于留学这件事的感受，早已由出国前的憧憬、激动与兴奋，变成了在一系列文化差异、独自拼搏、离乡漂泊的洗礼之后的孤独、压抑与疲惫。异乡的光怪陆离于我早已是氤氲散尽，仅剩残酷的现实与不定的未来。
            <br>
            <br>
       彼时，我正在被重重压力、不确定的未来、新生们不停歇的问题咨询与离美前一系列琐事所纠缠，忙得焦头烂额。思考着学弟学妹们的种种困惑，甚至有意无意流露出来的些许焦虑，不禁令我回忆起自己初来美国时的种种无头苍蝇似的摸索。望着满屋等待新主人的旧物，我突然希望自己能为后来人留下更多的东西。
<br><br>
       实际上我身边的朋友们也有相似的感受。于是，在我原计划离美的前几天，我们构思了一个野心勃勃的计划：一个能覆盖全美的留学生服务与交流的平台。我们希望所有的留学生能在这个平台上相互交流，互通有无，把分散在这片辽阔不输祖国的土地上的莘莘学子更加紧密地联系在一起。这正是我所期待的，一个能让所有留学生交换所有、所思与所愿的地方，一个能留下他们的故事的地方。
<br><br>
       伴随着陆续加入的同伴，我们的队伍在不断壮大。我们每个人有各自的故事，有各自的观点，有各自的感受，却因为留学聚集在一起。我们希望更多的人能读到我们的故事，更希望更多的人能来我们这里分享他们的经历、观点与感受。留学的喜怒哀乐不应该被深深地埋没。我们坚信，我们可以做出一款很酷的网站，并且把留学生涯变成一段很酷的经历，就像我们每个人曾经憧憬的那样。
<br><br>
张健尧<br><br>
2015年10月，于明媚辽阔的弗吉尼亚</p>
            
            <div flex="10"></div>
        </div>
        <div class="center-block" style="background-color:rgb(45,46,44); color:white; border-radius:50%; width:100px;height:100px;margin-top:20px; margin-bottom:40px;">
            <h4 style="line-height:80px;text-align:center;">Co-founder</h4>
        </div>
        <div layout="row">
            <div flex="10"></div>
            <div layout="row">
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/ps.jpg" style="border-radius:50%; weight:80px;margin:0 10 0 10;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">彭&nbsp;&nbsp;&nbsp;&nbsp;硕&nbsp;|&nbsp;C&nbsp;E&nbsp;O&nbsp;</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;"layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/zjy.jpg" style="border-radius:50%; weight:80px;margin:0 10 0 10;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">张健尧&nbsp;|&nbsp;C&nbsp;O&nbsp;O&nbsp;</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/hh.jpg" style="border-radius:50%;margin:0 10 0 10; weight:80px;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">黄焕舟&nbsp;|&nbsp;后&nbsp;&nbsp;&nbsp;&nbsp;台</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/sbj.jpg" style="border-radius:50%;margin:0 10 0 10; weight:80px;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">孙渤钧&nbsp;|&nbsp;后&nbsp;&nbsp;&nbsp;&nbsp;台</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/tzy.jpg" style="border-radius:50%; margin:0 10 0 10;weight:80px;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">唐桢阳&nbsp;|&nbsp;前&nbsp;&nbsp;&nbsp;&nbsp;台</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/hzy.jpg" style="border-radius:50%;margin:0 10 0 10; weight:80px;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">韩振宇&nbsp;|&nbsp;前&nbsp;&nbsp;&nbsp;&nbsp;台</div>
                    </div>
                    <div class="center-block" style="margin-right:10px;" layout="column">
                        <div><img class="md-whiteframe-z1" ng-src="/app/view/img/about/zy.jpg" style="margin:0 10 0 10;border-radius:50%; weight:80px;height:80px; border:1px solid rgb(220,224,224);"/></div>
                        <div style="margin-top:10px;">周&nbsp;&nbsp;&nbsp;&nbsp;羿&nbsp;|&nbsp;前&nbsp;&nbsp;&nbsp;&nbsp;台</div>
                    </div>
            </div>
            <div flex="10"></div>
        </div>
        <div class="center-block" style="background-color:rgb(45,46,44); color:white; border-radius:50%; width:100px;height:100px;margin-top:30px; margin-bottom:20px;">
            <h4 style="line-height:80px;text-align:center;">联系方式</h4>
        </div>
        <div class="center-block" style="margin-bottom:40px;text-align:center;">
            <a src="#" href="mailto:hereseas@gmail.com" style="color:rgb(45,46,44);"><h4>hereseas@gmail.com</h4></a>
        </div>
    </div>
    <div footer></div>
</div>