<md-dialog style="border-radius: 0 0 38px 0;">

<div layout="row" class="room_post" ng-controller="ActivsPostController">
    <!--Begin of left side nav_bar-->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">
        <md-content role="navigation" class="md-default-theme">
            <ul class="docs-menu">
                <li style="margin-top:12px;">
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(1)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    活动信息
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[0].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[0].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(2)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    说动说明
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[1].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[1].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(3)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    入场要求
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[2].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[2].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(4)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    详细描述
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[3].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[3].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(5)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    活动地址
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[4].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[4].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(6)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    图片
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[5].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[5].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
        <div layout="row">
            <div ng-show="canPost" class="div_submit">
                <button class="center-block btn submit" ng-click="doPost()">
                    <div layout="row" layout-align="center center">
                        <div>
                            提交
                        </div>
                        <div>
                            <i class="material-icons">navigate_next</i>
                        </div>
                    </div>
                </button>
            </div>
            <div ng-hide="canPost" class="div_steps">
                <p class="rp_font_steps font">还剩&nbsp;</p>
                <p class="rp_font_steps font"><strong>{{sn}}</strong></p>
                <p class="rp_font_steps font">&nbsp;步骤未填写</p>
            </div>
        </div>
    </md-sidenav>
    <!--End of side nav bar-->
    <md-dialog-content style="min-height:520px;">
    <div layout="column" flex id="post_wrapper">
        <!--Begin of 活动信息 Page-->
        <div ng-show="activePage == 1" class="room_post_listing_content">
            <div>
                <div layout="row">
                    <h4 class="text-muted" style="color:black">您的所有发布将不仅仅出现在您所属的学校信息页面中<br>还将出现在临近学校页面中</h4>
                </div>
            </div>
            <div>
                <hr class="room_post_hr">
            </div>
            <!--Begin of 活动-->
           <div layout="column">
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">活动信息</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="线下" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">线下</md-option>
                            <md-option value="1">线上</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div flex="20">
                        <p class="room_post_font_content">活动频率</p>
                    </div>
                    <div flex="30" layout="row" ng-hide="isStudio">
                      <md-select name="bathroom_number" placeholder="一次性" ng-model="numBathrooms" required class="rp_select">
                        <md-option value="1">一次性</md-option>
                        <md-option value="2">好多次性</md-option>
                        <md-option value="3">……&*&*</md-option>
                      </md-select>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content">
                    <div flex="15" layout-align="start end" layout="row">
                        <div>
                        <p class="room_post_font_content">开始</p>
                        </div>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-input-container class="room_post_input">
                              <input ng-model="steps[0].beginDate" type="date" name="invoiceDate"  aria-label="beginDate"/>
                            </md-input-container>
                        </div>
                        <div>
                        <i class="rp_icon material-icons">event_available</i>  
                        </div>
                    </div>
                    <div layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">0</md-option>
                            <md-option value="23">23</md-option>
                            </md-select>
                        </div>
                        <div>
                            <p class="room_post_font_content">时</p>
                        </div>
                    </div>
                    <div layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">0</md-option>
                            <md-option value="60">60</md-option>
                            </md-select>
                        </div>
                        <div>
                            <p class="room_post_font_content">分</p>
                        </div>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content">
                    <div flex="15" layout-align="start end" layout="row">
                        <div>
                        <p class="room_post_font_content">结束</p>
                        </div>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-input-container class="room_post_input">
                              <input ng-model="steps[0].beginDate" type="date" name="invoiceDate"  aria-label="beginDate"/>
                            </md-input-container>
                        </div>
                        <div>
                        <i class="rp_icon material-icons">event_available</i>  
                        </div>
                    </div>
                    <div layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">0</md-option>
                            <md-option value="23">23</md-option>
                            </md-select>
                        </div>
                        <div>
                            <p class="room_post_font_content">时</p>
                        </div>
                    </div>
                    <div layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">0</md-option>
                            <md-option value="60">60</md-option>
                            </md-select>
                        </div>
                        <div>
                            <p class="room_post_font_content">分</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of 活动信息-->
        </div>
        <!--End of 活动信息 Page-->
        <!--Begin of 活动说明 Page-->
        <div ng-show="activePage == 2" class="room_post_listing_content" >
             <div layout="column">
                <div>
                    <p class="room_post_font_content">活动说明</p>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">类型</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">&*（</md-option>
                            <md-option value="1">！&#（*！&#（*！</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">标题</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <md-input-container class="ap_title">
                        <input type="text" name="title" ng-model="steps[1].title" md-maxlength="35" aria-label="title">
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">详情</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <md-input-container class="ap_title">
                        <input ng-model="steps[1].description" md-maxlength="300" aria-label="description">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <!--End of 活动说明 Page-->
        <!--Begin of 入场要求 Page-->
        <div ng-show="activePage == 3" class="room_post_listing_content" >
             <div layout="column">
                <div>
                    <p class="room_post_font_content">入场要求</p>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">权限</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="需要邀请" ng-model="numBedrooms" required class="ap_select">
                            <md-option value="0">需要邀请</md-option>
                            <md-option value="1">不需要邀请</md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15" layout-align="start end">
                        <p class="room_post_font_content">自备</p>
                    </div>
                    <div flex="60" layout="row" layout-align="start end">
                        <div flex="50" layout="row" layout-align="start end">
                            <input type="checkbox" style="margin-bottom:5px">
                                <p class="room_post_font_content" style="margin-left:5px;">合适的服装</p>
                            </input>
                        </div>
                        <div flex="50" layout="row" layout-align="start end">
                            <input type="checkbox" style="margin-bottom:5px">
                                <p class="room_post_font_content" style="margin-left:5px;">饮料</p>
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of 入场要求 Page-->
        <!--Begin of 描述 Page-->
        <div ng-show="activePage == 4" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">标题：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">这将是其他用户看到的第一条信息</p>
                    </div>
                </div>
                <div class="room_post_div">
                    <md-input-container class="rp_title">
                    <input type="text" name="title" ng-model="steps[3].title" md-maxlength="35" aria-label="title">
                    </md-input-container>
                    <br>
                    <br>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">描述：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">向其他用户介绍任何您需要补充的信息，如距学校距离、交通信息、周边、现有室友等。</p>
                    </div>
                </div>
                <div class="room_post_div" >
                    <md-input-container flex>
                    <input ng-model="steps[3].description" columns="1" md-maxlength="300" aria-label="description">
                    </md-input-container>
                </div>
            </div>
        </div>
        <!--End of 描述 Page-->
        <!--Begin of 地址页 Page-->
        <div ng-show="activePage == 5" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div class="room_post_font_content">
                    <p >地址</p>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="10">
                    </div>
                    <div flex layout="column">
                        <div>
                        <input type="text" id="Autocomplete" class="form-control" ng-model="steps[4].address.full" ng-autocomplete="steps[4].address.full" details="details1" options="options1" style="text-align:left;"/>
                        <div ng-show="addressGot && addressCorrect">
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">Street Address</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addNum">
                                <input type="text" ng-model="addresses[0]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addAdd">
                                <input type="text" ng-model="addresses[1]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">City</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addCity">
                                <input type="text" ng-model="addresses[2]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">State</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addSta">
                                <input type="text" ng-model="addresses[3]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <div class="room_post_font_content">Zipcode</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addZip">
                                <input type="text" ng-model="addresses[4]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                        </div>
                           <div  style="margin-top:20px;" ng-hide="addressCorrect" class="room_post_font_content err">输入地址错误，请输入正确地址。</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of 地址页 Page-->
        <!--Begin of 图片页 Page-->
        <div ng-show="activePage == 6" class="room_post_listing_content" >            
            <div layout="column" flex>
                <div class="room_post_font_content">图片</div>
                <div layout="row" layout-wrap>
                    <div style="margin:10 10 10 10;border:1px solid; height:180;width:140px; background-color:rgb(248,248,248);background-repeat:no-repeat; background-size:cover;" layout="column" ng-repeat="pic in steps[6].images" ng-style="{'background-image':'url('+pic+')'}"><p ng-click="removeImage(pic)">删除</p></div>

                    <div style="margin:10 10 10 10;border:1px solid; height:180;width:140px; background-color:rgb(248,248,248);background-repeat:no-repeat; background-size:cover;" layout="column" ng-repeat="img in arrUploads" ng-style="{'background-image':'url('+img.content+')'}">
                        <div layout="row">
                        <progress ng-show="img.prog > 0" value="{{img.prog/100}}">{{img.prog}}%</progress>
                        <div ng-show="img.prog==100">上传成功！</div>
                        <div ng-click="img.cancel()">取消</div>
                        </div>
                    </div>

                    <div style="height:180;width:140px;" ngf-drop ngf-select ng-model="files" class="drop-box"  ngf-keep="true" ngf-keep-distinct="true"
                    ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                    accept="image/*"><br />拖动您想要的照片进框中，或者点击以上传，可同时选择多张图片
                    </div>
                </div>
            </div>
        </div>
        <div class="room_post_div_content stepButton"layout="row" layout-align="end" id="post_ft">
            <div ng-show="activePage >= 2" ng-click="lastPage()" class="rp_last_btn">
                上一步
            </div>
            <div ng-show="activePage <= 5" ng-click="nextPage()" class="rp_next_btn">
                下一步
            </div>
            <div ng-click="cancel()" class="rp_cancel_btn">
                &nbsp;取&nbsp;&nbsp;消&nbsp;
            </div>
        </div>
    </div>
        
</md-dialog-content>
</div>
</md-dialog>