<md-dialog style="border-radius: 2;" ng-controller="ActivsPostController">
    <div layout="column">
        <div style="font-size:20px;font-weight:500;margin:5px 0 0 15px;">hereseas</div>
        <div style="margin-top:15px;text-align:center;">敬请期待！Coming soon!</div>
        <div><button class="pull-right md-dialog md-actions md-button" ng-click="cancel()" style="min-height:34px;min-width:60px;padding:0px 8px 0px 8px;margin:30px 10px 10px 0;"><span class="center-block" style="height:34px;">OK</span></button></div>
    </div>
</md-dialog>