
<div style="background-color:rgb(248,248,249);" style="min-width:1000px;">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div layout="row">
    <div class="container" style="width:1000px;" layout="row">          
            <!--activities left-->
            <div flex=70 layout="column" style="padding-right:20px">
                <div>
                    <div style="height:32px">
                        <div style="float:left"><h3 style="margin-top:0px;">题目</h3></div>
                        <div style="float:right"><h3 style="margin-top:0px;">$价格</h3></div>
                    </div>
                    <div style="height:280px;background-image:url(/app/view/img/items/items.png);background-size:cover;"></div>
                </div>
                <div style="margin-top:20px;margin-bottom:20px;padding-left:3px;padding-right:3px;">
                    <div layout="row" style="float:left">
                        <div layout="row" style="width:140px;height:46px;background-color:rgb(71,175,150);padding-top:5px;padding-bottom:5px;border-radius:3px;color:#FFFFFF" ng-click="article(0)">
                            <div class="center-block" style="width:105px;">
                                <div style="background:url(/app/view/img/items/tele.png);background-size:cover;width:27px;height:27px;margin-top:5px;margin-right:5px;float:left"></div>
                                <h4>即刻联系</h4>
                            </div>
                        </div>
                        <div layout="row" style="width:140px;height:46px;background-color:rgb(240,140,106);padding-top:5px;padding-bottom:5px;border-radius:3px;color:#FFFFFF;margin-left:20px;" ng-click="article(1)">
                            <div class="center-block" style="width:105px;">
                                <div style="background:url(/app/view/img/items/resrv.png);background-size:cover;width:27px;height:27px;margin-top:5px;margin-right:5px;float:left"></div>
                                <h4>添加文章</h4>
                            </div>
                        </div>
                    </div>
                    <div layout="row" style="float:right;">
                        <div style="background:url(/app/view/img/items/star.png);background-size:cover;width:48px;height:46px;margin-right:15px"></div>
                        <div style="background:url(/app/view/img/items/circle.png);background-size:cover;width:48px;height:46px;margin-right:5px"></div>
                    </div>
                </div>
                <div style="padding-left:3px">
                    <div class="well pre-scrollable" style="background-color:#FFFFFF;height:120px;padding-top:8px;padding-left:8px;padding-right:8px">
                        <div layout="row"><div style="padding:5px">需要预约：</div><div style="padding:5px 15px 5px 15px;border:1px solid #F08C6A">外部链接</div></div>
                        <div layout="row"><div style="padding:5px">自备：</div><div style="padding:5px;padding-left:20px">合适服装&nbsp;&nbsp;&nbsp;饮料</div></div>
                        <div layout="row"><div style="padding:5px">详情：</div><div style="padding:5px;padding-left:20px">交通工具</div></div>
                    </div>
                </div>
            </div>
        
            <!--goods right-->
            <div flex=26 layout="column">
                <div layout="row">
                    <div flex= 25>
                        <img style="height:50px;width:50px;" class="img-circle" ng-src="/app/view/img/user/img1.JPG"/>
                    </div>
                    <div flex= 20>
                        <h4>夏洛</h4>
                    </div>
                    <div flex= 55>
                        <h4>xxx University</h4>
                    </div>
                </div>
                <div style="margin-top:10px;margin-bottom:10px;">
                    <date-picker ng-model="date"></date-picker>
                </div>
                <div style="border:1px solid #868581;height:106px;width:266px;margin-bottom:10px;padding:5px;color:#6A6966">
                    地址
                </div>
                <div layout="row" ><div id="activMap" class="application" style="height:170px;width:266px;"></div></div>
            </div>
    </div>
    </div>
    <div footer></div>
</div>
        