<h3> There are {{users.length}} users in Hereseas </h3>
<div class="row">
	<div ng-repeat="user in users" class="col-xs-3 col-md-2" style="height: 40vh; padding-top: 5vh" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
		<div class="thumbnail" style="position: relative">
		<!--
			<div ng-show="hoverInfo" class="userHover">
	      		<div style="height: 50%"></div>
	      		<div style="height: 50%">{{user.createAt}}</div>
	      	</div>
	    -->
    		<img ng-src="{{user.avatar}}" style="height: 10vh">
			<div class="caption">
	        	<h5>{{user.username}}</h5>
	        	<p>{{user.email}}</p>
	        	<p>{{user.createAt}}</p>
	        	<p>{{user.verified}}</p>
	      	</div>  
		</div>
	</div>
</div>

<style type="text/css">

.userHover {
  	position: absolute;
    background-color:#222222;
    opacity:0.7;
    z-index:1;
    height: 100%;
}
</style>

