<div style="background-color:rgb(248,248,249);min-width:1000px">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    
    <div class="container" style="padding-top:27.7px;padding-bottom:27.7px;width:1000px">
        <div style="width:1000px" layout="row">
                <div class="filter-bar" style="width:165px">筛选栏</div>
                <div layout="row" style="margin-top:5px;padding-left:15px;padding-right:15px;">
                        <div style="padding-right:20px;">
                            <img style="width:22px;height:22px;" src="/app/view/img/apts/price.png"/>
                        </div> 
                        <div layout="column">
                            <input id="price-slider" type="text" class="span2" data-slider-min="2000" data-slider-max="40000" data-slider-step="1000" data-slider-value="[2000,40000]" style="width:130px"/>
                            <div><span style="margin-left:-10px;padding-right:70px;">$2000</span><span>$40000</span></div>
                        </div>
                        <div>
                            <span>价格</span>
                        </div>
                </div>

                <div layout="row" style="height:25px;padding-top:5px">
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='all'" ng-click="setStyle('all')">所有</div><div ng-show="selectData.style=='all'" style="color:#3CB49E">所有</div>
                     </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='sedan'" ng-click="setStyle('sedan')">四门轿车</div><div ng-show="selectData.style=='sedan'" style="color:#3CB49E">四门轿车</div>
                    </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='wagon'" ng-click="setStyle('wagon')">两厢车</div><div ng-show="selectData.style=='wagon'" style="color:#3CB49E">两厢车</div>
                    </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='coupe'" ng-click="setStyle('coupe')">双门跑车</div><div ng-show="selectData.style=='coupe'" style="color:#3CB49E">双门跑车</div>
                    </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='SUV'" ng-click="setStyle('SUV')">SUV</div><div ng-show="selectData.style=='SUV'" style="color:#3CB49E">SUV</div>
                    </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.style=='pickup'" ng-click="setStyle('pickup')">皮卡</div><div ng-show="selectData.style=='pickup'" style="color:#3CB49E">皮卡</div>
                    </div>
                    <div style="padding:0 5 0 5;border-radius:2px;border:1px solid #A19F9B">
                        <div ng-hide="selectData.style=='van'" ng-click="setStyle('van')">面包车</div><div ng-show="selectData.style=='van'" style="color:#3CB49E">面包车</div>
                    </div>
                </div>
            
            <div layout="row" style="padding-left:10px;margin-top:5px;">
                <div style="width:20px;height:20px;background-image:url(/app/view/img/header/search.png);background-size:cover"></div>
                <input ng-model="searchCont" style="margin-left:10px;border-radius:4px;width:140px;height:25px;border:1px solid #D5D4D2" placeholder="搜索你要的汽车"></input>
            </div>
        </div>
        <div layout="row" style="padding-top:20px">          
            <div layout="column">
                <div id="cars_panel" style="overflow-y:scroll;height:530px;width:485px;margin-left:10px;margin-right:10px;" class="row">
                    
                    <div ng-show="carResult.length==0">没有结果</div>
                    <a href="#/cars/{{car._id}}" ng-repeat="car in carResult">
                        <div class="col-xs-6 col-sm-6" style="width:210px;height:160px;background-size:cover;background-repeat:no-repeat;margin-left:10px;margin-right:10px;margin-bottom:35px;padding-left:0;padding-right:0;" ng-style="{'background-image':'url('+car.cover+')'} " >
                            <div layout="row">
                                <img style="height:22px;width:22px;margin-top:10px;margin-left:10px;" src="/app/view/img/profile/favorite2.png"/>
                                <div style="width:52px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;" ng-style="{'background-image':'url(/app/view/img/profile/price.png)'} ">
                                    <div class="rotate" style="font-size:9px;"></div>

                                </div>
                            </div>
                            <div layout="row" style="margin-top:80px;margin-left:10px;">
                                <img style="height:52px;width:52px;" class="img-circle" ng-src="{{car.userAvatar}}"/>
                                <span style="margin-top:auto;margin-bottom:0;margin-right:0;margin-left:auto;">{{}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div layout="row">
                    <nav>
                      <ul class="pagination" style="margin-left:10px;">
                        <li>
                          <a href="#" aria-label="Previous" ng-click="previous()">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                            <li ng-repeat="page in pages">
                                <a href="#" ng-click="setPage($index)">{{page.id}}</a>
                            </li>
                        <li>
                          <a href="#" aria-label="Next" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
            
            <div id="carsMap" class="application" style="height:530px;width:320px;"> </div>
        </div>
    </div>
    
<div footer></div>
</div>

<style>
    .labels {
      color: white;
      font-size: 2px;
      text-align: center;
      white-space: nowrap;
    }
</style>

<script>
    $("#price-slider").slider({});
    
</script>
