<div style="background-color:rgb(248,248,249);min-width:1000px">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    
    <div class="container" style="padding-top:15px;padding-bottom:27.7px;width:1000px">
        <div style="width:1000px" layout="row">
                <div class="filter-bar" style="width:165px">筛选栏</div>
                <div layout="row" style="margin-top:5px;padding-left:15px;padding-right:15px;">
                        <div style="padding-right:20px;">
                            <img style="width:22px;height:22px;" src="/app/view/img/apts/price.png"/>
                        </div> 
                        <div layout="column">
                            <input id="price-slider" type="text" class="span2" data-slider-min="0" data-slider-max="40000" data-slider-step="1000" data-slider-value="[0,40000]" style="width:130px"/>
                            <div><span style="margin-left:-10px;padding-right:90px;">$0</span><span>$40000</span></div>
                        </div>
                        <div>
                            <span>价格</span>
                        </div>
                </div>

                <div layout="row" style="height:25px;padding-top:5px">
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category==''" ng-click="setStyle('')">所有</div><div ng-show="selectData.category==''" style="color:#3CB49E">所有</div>
                     </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='Sedan'" ng-click="setStyle('Sedan')">四门轿车</div><div ng-show="selectData.category=='Sedan'" style="color:#3CB49E">四门轿车</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='Wagon'" ng-click="setStyle('Wagon')">两厢车</div><div ng-show="selectData.category=='Wagon'" style="color:#3CB49E">两厢车</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='Coupe'" ng-click="setStyle('Coupe')">双门跑车</div><div ng-show="selectData.category=='Coupe'" style="color:#3CB49E">双门跑车</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='SUV'" ng-click="setStyle('SUV')">SUV</div><div ng-show="selectData.category=='SUV'" style="color:#3CB49E">SUV</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='Pickup'" ng-click="setStyle('Pickup')">皮卡</div><div ng-show="selectData.category=='Pickup'" style="color:#3CB49E">皮卡</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B;margin-right:3px;">
                        <div ng-hide="selectData.category=='Van'" ng-click="setStyle('Van')">面包车</div><div ng-show="selectData.category=='Van'" style="color:#3CB49E">面包车</div>
                    </div>
                    <div style="padding:0 2 0 2;border-radius:2px;border:1px solid #A19F9B">
                        <div ng-hide="selectData.category=='Others'" ng-click="setStyle('Others')">其他</div><div ng-show="selectData.category=='Others'" style="color:#3CB49E">其他</div>
                    </div>
                </div>
            
            <div layout="row" style="padding-left:10px;margin-top:5px;">
                <div style="width:20px;height:20px;background-image:url(/app/view/img/header/search.png);background-size:cover"></div>
                <input ng-model="searchCont" style="margin-left:10px;border-radius:4px;width:140px;height:25px;border:1px solid #D5D4D2" placeholder="搜索你要的汽车"></input>
            </div>
        </div>
        <div layout="row" style="padding-top:20px">          
            <div layout="column">
                 <div id="cars_panel" style="overflow-y:scroll;width:585px;min-height:670px;margin-right:10px;" class="row">
                    
                    <div ng-show="carsResult.length==0">没有任何结果, ╮(╯_╰)╭ </div>
                    <a href="#/cars/{{car.id}}" style="declaration:none;color:inherit;" ng-repeat="car in carsResult">
                    <div class="col-xs-6 col-sm-6" style="width:260px;height:180px;background-size:cover;background-repeat:no-repeat;margin-left:5px;margin-right:10px;margin-bottom:45px;padding-left:0;padding-right:0;" ng-style="{'background-image':'url('+car.cover+')'} " >
                        <div layout="row">
                                    <!--
                                    <img style="height:22px;width:22px;margin-top:10px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png" ng-click="addToFavs($index)"/>
                                    <div style="width:52px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;" ng-style="{'background-image':'url(/app/view/img/profile/price.png)'} ">
                                        <div class="rotate" style="font-size:9px;padding-top:5px;padding-left:30px">{{item.price}}</div>

                                    </div-->
                            <div style="margin-top:20px;min-width:70px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;">
                                <div style="font-size:18px;color:white;background-color:black;text-align: center;">&nbsp;${{car.price}}&nbsp;</div>

                            </div>
                                </div>
                                <div layout="row" style="margin-top:80px;margin-left:10px;">
                                    <div ng-style="{'background-image':'url('+car.userAvatar+')'}" class="mates_wrapper small"></div>
                                    <span style="margin-top:auto;margin-bottom:0;margin-right:10px;">{{car.title}}</span>
                                </div>
                            </div>
                            </a>
                    </div>
                <div layout="row">
                    <nav>
                      <ul class="pagination" style="margin-left:10px;">
                        <li>
                          <a href="#/allCars/{{schoolId}}" aria-label="Previous" ng-click="previous()">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                            <li ng-repeat="page in pages">
                                <a href="#/allCars/{{schoolId}}" ng-click="setPage($index)">{{page.id}}</a>
                            </li>
                        <li>
                          <a href="#/allCars/{{schoolId}}" aria-label="Next" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
            
            <div id="carsMap" class="application" style="height:725px;width:480px;"> </div>
        </div>
    </div>
    
<div footer></div>
</div>

<style>
    .labels {
      color: white;
      font-size: 2px;
      text-align: center;
      white-space: nowrap;
    }
</style>

<script>
    $("#price-slider").slider({});
    
</script>
