<style>
    #ex2 .slider-selection {
	   background: yellow;
    }
</style>
</style>
<div style="background-color:rgb(248,248,249);min-width:1000px">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    
    <div class="container" style="padding-top:15px;padding-bottom:27.7px;width:1000px">
        <div style="width:1000px" layout="row">
                <div class="filter-bar" style="width:165px;">筛选栏</div>
                <div layout="row" style="margin-top:5px;padding-left:30px;padding-right:30px;">
                        <div style="padding-right:20px;">
                            <img style="width:22px;height:22px;" src="/app/view/img/apts/price.png"/>
                        </div> 
                        <div layout="column">
                            <input id="price-slider" type="text" class="span2" data-slider-min="0" data-slider-max="5000" data-slider-step="50" data-slider-value="[0,5000]"/>
                            <div><span style="margin-left:-10px;padding-right:180px;">$0</span><span>$5000</span></div>
                        </div>
                        <div>
                            <span>价格</span>
                        </div>
                </div>

                <div layout="row" style="margin-top:10px;">
                    <div>
                        <img style="width:22px;height:22px;" src="/app/view/img/apts/roomType.png"/>
                    </div>
                    <div layout="row" style="border-radius:4px;background-color:#ffffff;width:150px;height:25px;padding:4 0 4 15;margin-left:10px;margin-right:5px;">
                        <div ng-hide="selectData.roomType=='客厅'" ng-click="setType('客厅')" style="outline:none;">客厅</div><div ng-show="selectData.roomType=='客厅'" style="color:#3CB49E">客厅</div>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <div ng-hide="selectData.roomType=='卧室'" ng-click="setType('卧室')" style="outline:none;">卧室</div><div ng-show="selectData.roomType=='卧室'" style="color:#3CB49E">卧室</div>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <div ng-hide="selectData.roomType=='其它'" ng-click="setType('其它')" style="outline:none;">其它</div><div ng-show="selectData.roomType=='其它'" style="color:#3CB49E">其它</div>
                    </div>
                    <div layout="row">
                        <span style="margin-top:3px;">房间</span>
                    </div>
                </div>
            
            <div layout="row" style="padding-left:25px;margin-top:10px;">
                <div style="width:20px;height:20px;background-image:url(/app/view/img/header/search.png);background-size:cover"></div>
                <input ng-model="searchCont" style="margin-left:10px;border-radius:4px;width:180px;height:25px;border:1px solid #D5D4D2" placeholder="  搜索你要的房间"></input>
            </div>
        </div>
        <div layout="row" style="padding-top:20px;">       
            <div layout="column">
                <div id="apts_panel" style="overflow-y:scroll;width:585px;min-height:672px;margin-right:10px;" class="row">
                    
                    <div ng-show="aptResult.length==0" style="margin-left:20px;">没有任何结果, ╮(╯_╰)╭ </div>
                    <a href="#/rooms/{{apt.id}}" style="declaration:none;color:inherit;" ng-repeat="apt in aptResult"> 
                    <div  class="col-xs-6 col-sm-6" style="width:260px;height:180px;background-size:cover;background-repeat:no-repeat;margin-left:15px;margin-right:10px;margin-bottom:45px;padding-left:0;padding-right:0;" ng-style="{'background-image':'url('+apt.cover+')'} " >
                        <div layout="row">
                            
                            <div style="margin-top:20px;min-width:70px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;" >
                                <div ng-show="apt.price.minPrice == apt.price.maxPrice" style="font-size:18px; color:white; background-color:black;text-align: center;">&nbsp;${{apt.price.minPrice}}&nbsp;</div>
                                <div ng-show="apt.price.minPrice != apt.price.maxPrice" style="font-size:18px; color:white; background-color:black;">&nbsp;${{apt.price.minPrice}}-{{apt.price.maxPrice}}&nbsp;</div>

                            </div>
                        </div>
                        <div layout="row" style="margin-top:80px;margin-left:10px;">
                            <img style="height:52px;width:52px; border:2px solid white;margin-right:10px;" class="img-circle" ng-src="{{apt.userAvatar}}"/>
                            <span style="margin-top:auto;margin-bottom:0;margin-right:10px;" ng-repeat="type in apt.type">{{type}}</span>
                        </div>
                    </div>  
                        </a>
                </div>
                <div layout="row" style="height:40px;">
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous" ng-click="previous()">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                            <li ng-repeat="page in pages">
                                <a href="#" ng-click="setPage($index)">{{page.id}}</a>
                            </li>
                        <li>
                          <a href="#" aria-label="Next" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </div>
            <div id="aptsMap" class="application" style="height:725px;width:480px;"> </div>
        </div>
    </div>
    
<div footer></div>
    
</div>

<style>
    .labels {
      color: white;
      font-size: 2px;
      text-align: center;
      white-space: nowrap;
    }
    
</style>

<script>
    $("#price-slider").slider({});
    
</script>

