<div style="background-color:rgb(248,248,249);min-width:1000px">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    
    <div class="container" style="padding-top:15px;padding-bottom:27.7px;width:1000px">
        <div style="width:1000px" layout="row">
                <div class="filter-bar" style="width:165px;">筛选栏</div>

                <div layout="row" style="height:25px;margin-top:10px;padding-left:50px;padding-right:10px;">
                    <div style="padding:2 15 0 15;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category==''" ng-click="setCategory('')">所&nbsp;&nbsp;有</div><div ng-show="selectData.category==''" style="color:#3CB49E">所&nbsp;&nbsp;有</div>
                     </div>
                    <div style="padding:2 15 0 15;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='furniture'" ng-click="setCategory('furniture')">家&nbsp;&nbsp;具</div><div ng-show="selectData.category=='furniture'" style="color:#3CB49E">家&nbsp;&nbsp;具</div>
                    </div>
                    <div style="padding:2 15 0 15;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='equipment'" ng-click="setCategory('equipment')">电&nbsp;&nbsp;器</div><div ng-show="selectData.category=='equipment'" style="color:#3CB49E">电&nbsp;&nbsp;器</div>
                    </div>
                    <div style="padding:2 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='electric'" ng-click="setCategory('electric')">电子产品</div><div ng-show="selectData.category=='electric'" style="color:#3CB49E">电子产品</div>
                    </div>
                    <div style="padding:2 15 0 15;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='book'" ng-click="setCategory('book')">书&nbsp;&nbsp;籍</div><div ng-show="selectData.category=='book'" style="color:#3CB49E">书&nbsp;&nbsp;籍</div>
                    </div>
                    <div style="padding:2 5 0 5;border-radius:2px;border:1px solid #A19F9B;margin-right:10px;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='necessity'" ng-click="setCategory('necessity')">生活用品</div><div ng-show="selectData.category=='necessity'" style="color:#3CB49E">生活用品</div>
                    </div>
                    <div style="padding:2 15 0 15;border-radius:2px;border:1px solid #A19F9B;width:70px">
                        <div style="outline:none;" ng-hide="selectData.category=='other'" ng-click="setCategory('other')">其&nbsp;&nbsp;他</div><div ng-show="selectData.category=='other'" style="color:#3CB49E">其&nbsp;&nbsp;他</div>
                    </div>
                </div>
            
            <div layout="row" style="padding-left:25px;margin-top:10px;">
                <div style="width:20px;height:20px;background-image:url(/app/view/img/header/search.png);background-size:cover"></div>
                <input ng-model="searchCont" style="margin-left:10px;border-radius:4px;width:140px;height:25px;border:1px solid #D5D4D2" placeholder="  搜索你要的物品"></input>
            </div>
        </div>
        <div layout="row" style="padding-top:20px;">
            <div layout="column">
                <div id="items_panel" style="overflow-y:scroll;width:585px;min-height:670px;margin-right:10px;" class="row">
                    
                    <div ng-show="itemsResult.length==0">没有任何结果, ╮(╯_╰)╭ </div>
                    <a href="#/items/{{item.id}}" style="declaration:none;color:inherit;" ng-repeat="item in itemsResult">
                    <div class="col-xs-6 col-sm-6" style="width:260px;height:180px;background-size:cover;background-repeat:no-repeat;margin-left:5px;margin-right:10px;margin-bottom:45px;padding-left:0;padding-right:0;" ng-style="{'background-image':'url('+item.cover+')'} " >
                        <div layout="row">
                                    <!--
                                    <img style="height:22px;width:22px;margin-top:10px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png" ng-click="addToFavs($index)"/>
                                    <div style="width:52px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;" ng-style="{'background-image':'url(/app/view/img/profile/price.png)'} ">
                                        <div class="rotate" style="font-size:9px;padding-top:5px;padding-left:30px">{{item.price}}</div>

                                    </div-->
                            <div style="margin-top:20px;min-width:70px;height:52px;background-size:100% 100%;background-repeat:no-repeat;margin-right:0;margin-left:auto;">
                                <div style="font-size:18px;color:white;background-color:black;text-align: center;">&nbsp;${{item.price}}&nbsp;</div>

                            </div>
                                </div>
                                <div layout="row" style="margin-top:80px;margin-left:10px;">
                                    <div ng-style="{'background-image':'url('+item.userAvatar+')'}" class="mates_wrapper small"></div>
                                    <div style="margin-top:auto;margin-bottom:0;margin-right:10px;">{{item.itemName}}</div>
                                </div>
                            </div>
                            </a>
                    </div>
                <div layout="row">
                    <nav>
                      <ul class="pagination" style="margin-left:10px;">
                        <li>
                          <a href="#/allItems/{{schoolId}}" aria-label="Previous" ng-click="previous()">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                            <li ng-repeat="page in pages">
                                <a href="#/allItems/{{schoolId}}" ng-click="setPage($index)">{{page.id}}</a>
                            </li>
                        <li>
                          <a href="#/allItems/{{schoolId}}" aria-label="Next" ng-click="next()">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                </div>
                </div>
            <div id="itemsMap" class="application" style="height:725px;width:480px;"> </div>
        </div>
    </div>
    
<div footer></div>
</div>

<style>
    .labels {
      color: white;
      font-size: 2px;
      text-align: center;
      white-space: nowrap;
    }
    .left-menu{
        width:58px;
        padding-top:8px;
        padding-bottom:8px;
        border-bottom:2px solid #858280;
        color:#6A6966
    }
    .left-menu-last{
        width:58px;
        padding-top:8px;
        padding-bottom:8px;
        color:#6A6966
    }
</style>


