<md-dialog style="border-radius: 0 0 38px 0;overflow-y: scroll;">

<div layout="row" class="room_post" ng-controller="ArticlePostController" style="min-height:555px">
   
    <md-dialog-content style="padding:0 0 0 0;min-height:90%;min-width:850px;">
        <div layout="column" id="post_wrapper">
            <div id="apost_content">
            <div style="background-color:#EA5743;padding:4px 0px 8px 0px; text-align:center;"><div style="min-width:99px"><h3><b style="color:#FFFFFF">发表帖子</b></h3></div></div>
            <div style="padding-left:10px;padding-right:10px;padding-top:10px">
                <div layout="row">
                    <h5>标题： </h5>
                    <md-input-container>
                    <input style="width:550px;" type="text" name="title" ng-model="title" md-maxlength="35" maxlength="35" aria-label="title">
                    </md-input-container>
                </div>
                <div style="outline:none;" text-angular ng-model="htmlVariable"></div>
            
            </div>
            </div>
            <div id="post_ft">
                <!--<div style="float:left">照片&nbsp;&nbsp;拍照</div>-->
                <div layout="row" style="float:right;padding-right:20px;">
                    <div class="rp_next_btn" ng-click="postArticle()" style="padding-left:12px;padding-top:17;">发布</div>
                    <div class="rp_cancel_btn" ng-click="cancel()" style="padding-left:12px;padding-top:17;">取消</div>
                </div>
            </div>
        </div>
    </md-dialog-content>
</div>
</md-dialog>
