<md-dialog style="border-radius: 0 0 38px 0;">

<div layout="row" class="room_post" ng-controller="CarPostController">
    <!--Begin of left side nav_bar-->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" >
        <md-content role="navigation" class="md-default-theme">
            <ul class="docs-menu">
                <li style="margin-top:12px;">
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(1)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    车辆信息
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[0].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[0].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(2)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    外观动力
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[1].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[1].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(3)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    配置参数
                                </span>
                                <span flex></span>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(4)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    详细描述
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[3].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[3].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(5)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    地址
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[4].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[4].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(6)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    图片
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[5].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[5].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
        <div layout="row">
            <div ng-show="canPost" class="div_submit">
                <button class="center-block btn submit" ng-click="doPost()">
                    <div layout="row" layout-align="center center">
                        <div>
                            提交
                        </div>
                        <div>
                            <i class="material-icons">navigate_next</i>
                        </div>
                    </div>
                </button>
            </div>
            <div ng-hide="canPost" class="div_steps">
                <p class="rp_font_steps font">还剩&nbsp;</p>
                <p class="rp_font_steps font"><strong>{{sn}}</strong></p>
                <p class="rp_font_steps font">&nbsp;步骤未填写</p>
            </div>
        </div>
    </md-sidenav>
    <!--End of side nav bar-->
    <md-dialog-content style="min-height:520px;">
    <div layout="column" flex id="post_wrapper">
        <!--Begin of 车辆信息 Page-->
        <div ng-show="activePage == 1" class="room_post_listing_content">
            <div>
                <div layout="row">
                    <h4 class="text-muted" style="color:black">您的所有发布将不仅仅出现在您所属的学校信息页面中<br>还将出现在临近学校页面中</h4>
                </div>
            </div>
            <div>
                <hr class="room_post_hr">
            </div>
            <!--Begin of room information-->
            <div layout="column">
                <div>
                    <p class="room_post_font_content">车辆信息</p>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">年款</p>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <input required ng-model="steps[0].year" name="year" aria-label="CarYear" style="border-radius:4px;width:80px;height:19px;border:1px solid #D5D4D2"/>
                    </div>
                    <div flex="15">
                        <p class="room_post_font_content">车型</p>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <md-select required ng-model="steps[0].model" name="model" class="cp_select">
                            <md-option value="SUV">SUV</md-option>
                            <md-option value="Sedan">四门轿车</md-option>
                            <md-option value="Coupe">双门跑车</md-option>
                            <md-option value="Convertible">敞篷车</md-option>
                            <md-option value="Hatchback">两厢车</md-option>
                            <md-option value="Minivan">小货车</md-option>
                            <md-option value="Wagon">货车</md-option>
                        </md-select>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">制造商</p>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <input required ng-model="steps[0].make" name="make" aria-label="CarMake" style="border-radius:4px;width:150px;height:19px;border:1px solid #D5D4D2"/>
                    </div>
                    <div flex="15">
                        <p class="room_post_font_content">车系</p>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                         <input required ng-model="steps[0].style" name="style" aria-label="CarStyle" style="border-radius:4px;width:150px;height:19px;border:1px solid #D5D4D2"/>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">里程</p>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <input required ng-model="steps[0].totalMiles" name="totalMiles" aria-label="CarMiles" style="border-radius:4px;width:100px;height:19px;border:1px solid #D5D4D2;margin-right:10px"/>
                        miles
                    </div>
                    <div flex="15">
                        <p class="room_post_font_content">购买日期</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <md-input-container class="room_post_input">
                          <input ng-model="steps[0].boughtDate" type="date" name="boughtDate"  aria-label="CarBoughtDate"/>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <p class="room_post_font_content">型号</p>
                    </div>
                    <div flex="80" layout="row" layout-align="start end">
                        <input ng-model="steps[0].category" name="category"  aria-label="CarCategory" style="border-radius:4px;width:180px;height:19px;border:1px solid #D5D4D2"/>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="15">
                        <div class="room_post_font_content">价格</div>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        $&nbsp;<input ng-model="steps[0].price" name="price"  aria-label="CarPrice" style="border-radius:4px;width:100px;height:19px;border:1px solid #D5D4D2"/>
                    </div>
                </div>
            </div>
            <!--End of room infomation-->
        </div>
        <!--End of 车辆信息 Page-->
        <!--Begin of 外观动力 Page-->
        <div ng-show="activePage == 2" class="room_post_listing_content" >
             <div layout="column">
                <div>
                    <p class="room_post_font_content">外观动力</p>
                </div>
                <div layout="row">
                    <div style="margin-top:15px;margin-left:50px;width:78px;">
                        <p class="room_post_font_content">颜色</p>
                    </div>
                    <div class="room_post_div" style="margin-top:5px;">
                        <div layout="column" layout-wrap>                  
                                <div layout-align="start center" layout="row">
                                    <input required name="carColor" type="radio" id="white" ng-model="steps[1].color" style="margin:15px" value="white">
                                    <label for="white" class="room_post_font_content">
                                        白色
                                    </label>
                                    <label layout-align="start center" layout="row">
                                    <input required name="carColor" type="radio" ng-model="steps[1].color" style="margin:15px" value="silver">
                                        <p class="room_post_font_content">银色</p>
                                    </label>
                                    <label layout-align="start center" layout="row">
                                    <input required name="carColor" type="radio" ng-model="steps[1].color" style="margin:15px" value="gray">
                                        <p class="room_post_font_content">灰色</p>
                                    </label>
                                    <label layout-align="start center" layout="row">
                                    <input required name="carColor" type="radio" ng-model="steps[1].color" style="margin:15px" value="yellow">
                                        <p class="room_post_font_content">黄色</p>
                                    </label>
                                </div>
                                <div layout-align="start center" layout="row">
                                    <input required name="carColor" type="radio" id="green" ng-model="steps[1].color" style="margin:15px" value="green">
                                    <label for="green" class="room_post_font_content">
                                        绿色
                                    </label>
                                    <input required name="carColor" type="radio" id="blue" ng-model="steps[1].color" style="margin:15px" value="bluw">
                                    <label for="blue" class="room_post_font_content">
                                        蓝色
                                    </label>
                                    <input required name="carColor" type="radio" id="red" ng-model="steps[1].color" style="margin:15px" value="red">
                                    <label for="red" class="room_post_font_content">
                                        红色
                                    </label>
                                    <input required name="carColor" type="radio" id="black" ng-model="steps[1].color" style="margin:15px" value="black">
                                    <label for="black" class="room_post_font_content">
                                        黑色
                                    </label>
                                </div>                       
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div style="margin-top:15px;margin-left:50px;width:78px;">
                        <p class="room_post_font_content">无事故</p>
                    </div>
                    <div class="room_post_div">
                        <input required type="checkbox" style="margin-top:20px;margin-left:14px;margin-bottom:20px" ng-model="steps[1].noAccident"></input>
                    </div>
                </div>
                <div layout="row">
                    <div style="margin-top:15px;margin-left:50px;width:78px;">
                        <p class="room_post_font_content">驱动系统</p>
                    </div>
                    <div class="room_post_div" style="margin-top:5px;">
                        <div layout="row" layout-wrap>
                            <div layout-align="start center" layout="row">
                                <input required type="radio" ng-model="steps[1].driveSystem" id="fwd" name="carDriveSystem" value="FWD" style="margin:15px">
                                <label for="fwd" class="room_post_font_content">
                                    FWD
                                </label>
                                <input required type="radio" ng-model="steps[1].driveSystem" name="carDriveSystem" id="BWD" value="BWD" style="margin:15px">
                                <label for="BWD" class="room_post_font_content">
                                    BWD
                                </label>
                                <input required type="radio" ng-model="steps[1].driveSystem" name="carDriveSystem" id="AWD" value="AWD" style="margin:15px">
                                <label for="AWD" class="room_post_font_content">
                                    AWD
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div style="margin-top:15px;margin-left:50px;width:78px;">
                        <p class="room_post_font_content">传动系统</p>
                    </div>
                    <div class="room_post_div" style="margin-top:5px;">
                        <div layout="row" layout-wrap>
                            <div layout-align="start center" layout="row">
                                <input required type="radio" ng-model="steps[1].transSystem" name="carTransSystem" id="ma" value="手动" style="margin:15px">
                                    <label for="ma" class="room_post_font_content">手动</label>
                                <input required type="radio" ng-model="steps[1].transSystem" name="carTransSystem" id="auto" value="自动" style="margin:15px">
                                    <label for="auto" class="room_post_font_content">自动</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div layout="row">
                    <div class="room_post_div" style="margin-top:10px;margin-left:50px;margin-bottom:20px;width:78px;">
                        <p class="room_post_font_content">排量</p>
                    </div>
                    <div class="room_post_div" layout-align="start end">
                        <div layout="row" layout-align="start end">
                            <div style="margin-left:17px;">
                                <md-select name="car_output" ng-model="steps[1].output" required class="rp_select">
                                    <md-option value="1.5">1.5</md-option>
                                    <md-option value="1.8">1.8</md-option>
                                    <md-option value="2.0">2.0</md-option>
                                    <md-option value="2.5">2.5</md-option>
                                    <md-option value="3.0">3.0</md-option>
                                    <md-option value="3.5">3.5</md-option>
                                </md-select>
                            </div>
                            <div>
                                <p class="room_post_font_content">L</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of 外观动力 Page-->
        <!--Begin of 配置参数 Page-->
        <div ng-show="activePage == 3" class="room_post_listing_content" >
             <div layout="column">
                <div>
                    <p class="room_post_font_content">配置参数</p>
                </div>
                <div layout="row">
                    <div flex="15" style="margin-top:15px;margin-left:50px;">
                        <p class="room_post_font_content">刹车与转向</p>
                    </div>
                    <div class="room_post_div" layout="row">
                        <label layout="row" ng-repeat="(key,value) in steps[2].breakType">
                            <input type="checkbox" ng-model="steps[2].breakType[key]"  style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                                <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">{{name(key)}}</p>
                            </input>
                        </label>
                    <!--
                        <input type="checkbox" ng-model="steps[2].breakType.ABS" style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">ABS</p>
                        </input>
                        <input type="checkbox" ng-model="steps[2].breakType.ESC" style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">ESC</p>
                        </input>-->
                    </div>
                </div>
                 <div layout="row">
                    <div flex="15" style="margin-top:15px;margin-left:50px;">
                        <p class="room_post_font_content">安全</p>
                    </div>
                    <div class="room_post_div" layout="row">
                            <label layout="row" ng-repeat="(key,value) in steps[2].security">
                                <input type="checkbox" ng-model="steps[2].security[key]"  style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                                <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">{{name(key)}}</p>
                            </label>
                     <!--
                        <input type="checkbox" ng-model="steps[2].security.double_airbag" style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">双安全气囊</p>
                        </input>
                        <input type="checkbox" ng-model="steps[2].security.side_airbag" style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">侧安全气囊</p>
                        </input>
                        <input type="checkbox" ng-model="steps[2].security.curtain" style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <p class="room_post_font_content" style="margin-top:16px;margin-left:5px;">安全气帘</p>
                        </input>-->
                    </div>
                </div>
                 <div layout="row">
                    <div flex="15" style="margin-top:15px;margin-left:50px;">
                        <p class="room_post_font_content">舒适与娱乐</p>
                    </div>
                    <div class="room_post_div" layout="row">
                        <div layout="row" layout-wrap style="margin-top:20px;margin-left:14px;margin-bottom:20px">
                            <label flex="30" ng-repeat="(key,value) in steps[2].comfort" layout="row">
                                <input type="checkbox" ng-model="steps[2].comfort[key]" style="margin-bottom:20px">
                                    <p class="room_post_font_content" style="margin-left:5px;">{{name(key)}}</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of 配置参数 Page-->
        <!--Begin of 描述 Page-->
        <div ng-show="activePage == 4" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">标题：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">这将是其他用户看到的第一条信息</p>
                    </div>
                </div>
                <div class="room_post_div">
                    <md-input-container class="rp_title">
                    <input type="text" name="title" ng-model="steps[3].title" md-maxlength="35" aria-label="title">
                    </md-input-container>
                    <br>
                    <br>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">描述：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">向其他用户介绍任何您需要补充的信息，如距学校距离、交通信息、周边、现有室友等。</p>
                    </div>
                </div>
                <div class="room_post_div" >
                    <md-input-container flex>
                    <input ng-model="steps[3].description" columns="1" md-maxlength="300" aria-label="description">
                    </md-input-container>
                </div>
            </div>
        </div>
        <!--End of 描述 Page-->
        <!--Begin of 地址页 Page-->
        <div ng-show="activePage == 5" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div class="room_post_font_content">
                    <p >地址</p>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="10">
                    </div>
                    <div flex layout="column">
                        <div>
                        <input type="text" id="Autocomplete" class="form-control" ng-model="steps[4].address.full" ng-autocomplete="steps[4].address.full" details="details1" options="options1" style="text-align:left;"/>
                        <div ng-show="addressGot && addressCorrect">
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">Street Address</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addNum">
                                <input type="text" ng-model="addresses[0]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addAdd">
                                <input type="text" ng-model="addresses[1]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">City</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addCity">
                                <input type="text" ng-model="addresses[2]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row" style="margin-top:20px;">
                                <div class="room_post_font_content">State</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addSta">
                                <input type="text" ng-model="addresses[3]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <div class="room_post_font_content">Zipcode</div>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addZip">
                                <input type="text" ng-model="addresses[4]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                        </div>
                           <div style="margin-top:20px;" ng-hide="addressCorrect" class="room_post_font_content err">输入地址错误，请输入正确地址。</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--End of 地址页 Page-->
        <!--Begin of 图片页 Page-->
        <div ng-show="activePage == 6" class="room_post_listing_content" >
            <div layout="column" flex>
                <div class="room_post_font_content">图片</div>
                <div layout="row" layout-wrap>
                    <div style="margin:10 10 10 10;border:1px solid; height:180;width:140px; background-color:rgb(248,248,248);background-repeat:no-repeat; background-size:cover;" layout="column" ng-repeat="pic in steps[5].images" ng-style="{'background-image':'url('+pic+')'}"><p ng-click="removeImage(pic)">删除</p></div>

                    <div style="margin:10 10 10 10;border:1px solid; height:180;width:140px; background-color:rgb(248,248,248);background-repeat:no-repeat; background-size:cover;" layout="column" ng-repeat="img in arrUploads" ng-style="{'background-image':'url('+img.content+')'}">
                        <div layout="row">
                        <progress ng-show="img.prog > 0" value="{{img.prog/100}}">{{img.prog}}%</progress>
                        <div ng-show="img.prog==100">上传成功！</div>
                        <div ng-click="img.cancel()">取消</div>
                        </div>
                    </div>

                    <div style="height:180;width:140px;" ngf-drop ngf-select ng-model="files" class="drop-box"  ngf-keep="true" ngf-keep-distinct="true"
                    ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                    accept="image/*"><br />拖动您想要的照片进框中，或者点击以上传，可同时选择多张图片
                    </div>
                </div>
            </div>
        </div>
        <div class="room_post_div_content stepButton" layout="row" layout-align="end" id="post_ft">
            <div ng-show="activePage >= 2" ng-click="lastPage()" class="rp_last_btn">
                上一步
            </div>
            <div ng-show="activePage <= 5" ng-click="nextPage()" class="rp_next_btn">
                下一步
            </div>
            <div ng-click="hide()" class="rp_cancel_btn">
                &nbsp;取&nbsp;&nbsp;消&nbsp;
            </div>
        </div>
    </div>
        
</md-dialog-content>
</div>
</md-dialog>