<div style="background-color:rgb(248,248,249);min-width:1000px;" id="wrapper">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    <div layout="row" id="content">
        <div class="container" style="width:1000px;" layout="row">          
            <!--items left-->
            <div flex=70 layout="column" style="padding-right:20px">
                <div style="margin-top:20px;margin-bottom:20px;padding-left:3px;padding-right:3px;">
                    <div layout="row" style="float:left;">
                        <div ng-click="showArticlePost()" layout="row" style="width:140px;height:46px;background-color:rgb(240,140,106);padding-top:5px;padding-bottom:5px;border-radius:3px;color:#FFFFFF;margin-right:15px">
                            <div class="center-block" style="width:110px;">
                                <div style="background:url(/app/view/img/items/resrv.png);background-size:cover;width:27px;height:27px;margin-top:5px;margin-right:5px;float:left"></div>   
                                <h4 style="margin-top:8px;color:#ffffff">添加文章</h4>
                            </div>
                        </div>
                    </div>
                </div>
     
                <div style="margin-bottom:50px;">
                    <div id="forum_panel" style="height:auto;margin-top:20px;">
                        <div ng-repeat="thread in threads" style="margin-bottom:10px;outline:none;" layout="column" ng-click="goToArticle(thread._id)">
                            <div style="background-color:rgb(229,229,224);height:40px;font-size:18px;margin-bottom:10px;padding:0px 0px 0px 15px;" layout="row">
                                <div style="padding-top:7px;">{{thread.title}}</div>
                            </div>
                            <div style="float:left;margin-bottom:10px;color:rgb(55,120,106);" layout="row">
                                <div style="margin:0px 10px 0px 0px; padding:0px 0px 0px 0px; width:40px;height:40px;"ng-style="{'background-image':'url('+thread.userAvatar+')'}" class="img-circle center-block mates_wrapper"></div>
                                <div style="margin-left:10px;padding-top:10px;">{{thread.username}} &nbsp;&nbsp; {{thread.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                            <div style="margin-bottom:10px;">
                                <div>{{thread.preview}}</div>
                                <!--div>
                                    <div style="float:right"><img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;" ng-click=""/></div>
                                </div-->
                            </div>
                            <div style="margin-bottom:10px; color:rgb(55,120,106)">{{thread.replayCount}}回复</div>
                        </div>
                    </div>
                    <div layout="row" ng-if="pages.length>1">
                        <nav>
                          <ul class="pagination" style="margin-left:10px;">
                            <li>
                              <a href="#/forum/{{schoolId}}" aria-label="Previous" ng-click="previous()">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>

                                <li>
                                    <a ng-show="pages_pre_dot" >...</a>
                                    <span ng-show="page.show" ng-repeat="page in pages" ng-click="setPage($index)">
                                        <a ng-show="!page.selected" href="#/forum/{{schoolId}}">{{page.id}}</a>                                    <a style="color:rgb(222,89,81)" ng-show="page.selected" href="#/forum/{{schoolId}}">{{page.id}}</a>
                                        </span>
                                    <a ng-show="pages_end_dot" >...</a>
                                </li>

                            <li>
                              <a href="#/forum/{{schoolId}}" aria-label="Next" ng-click="next()">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        
            <!--items right-->
            <div flex=26 layout="column">
                <!--
                <div layout="row">
                    <div flex= 25>
                        <img style="height:50px;width:50px;" class="img-circle" ng-src="{{item.userAvatar}}"/>
                    </div>
                    <div flex= 20>
                        <h5>{{item.username}}</h5>
                    </div>
                    <div flex= 55>
                        <h5>{{schoolName}}</h5>
                    </div>
                </div>
                <div class="center-block">
                    参与者<span style="margin-left:5px;width:15px;height:15px;line-height:15px;background-image:url(/app/view/img/profile/posted.png);background-size:100% 100%;color:#62B5DB;">12</span>
                </div>
                <div style="width:310px;height:350px;">
                    <div ng-repeat="otherItem in otherItems" style="padding:1px;float:left" ng-click="goToEach($index)">
                        <div ng-style="{'background-image':'url('+otherItem.content.cover+')'}" style="width:75px;height:100px;background-size:cover;margin-top:-1px;margin-left:-1px;"></div>
                    </div>
                </div>
                <div style="padding:10px;border:1px solid #6A6966;height:210px;width:300px;">
                    <h4>详情</h4>        
                </div>
                -->
            </div>
        </div>
    </div>
    <div footer id="footer"></div>
</div>
<style>
    h4{
        margin-top:0px;margin-bottom:0px;
    }
</style>
        