<!DOCTYPE html>
<html>    
<body>
    
<!--header-->
<div class="wrapper" style="position:relative;padding-bottom:45.45%;min-height:700px;min-width:1000px;">
    <nav class="navbar navbar-default" style="background-color:transparent;border-color:transparent;z-index:2;">
        <div class="container-fluid headerdiv" ng-controller="HeaderController">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top:30px;">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding-left:13px;padding-top:8px;" href="#"><img class="logo" clickme ng-click="goHome()" style="height:42px;" src="/app/view/img/header/hereseas.svg"></img></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-li" ng-hide="logged()">
                        <a class="hd nav-li-a" ng-click="showLogin()" href="#" style="color:white;outline:none;">登录</a>
                    </li>
                    <li class="nav-li"  ng-hide="logged()">
                        <a class="hd nav-li-a" ng-click="showSignup()"href="#" style="color:white;outline:none;">注册</a>
                    </li>
                    <li class="nav-li" ng-show="logged()">
                        <a class="hd nav-li-a" ng-click="goProfile()" href="#" style="color:white;outline:none;">{{username}}{{message}}</a>
                    </li>
                    <li ng-show="logged()">
                        <img ng-click="openChatWindow()" src="/app/view/img/header/msg1.png" style="margin-top:20px;margin-right:10px;margin-left:10px;"/>
                        <img ng-show="newMsg" src="/app/view/img/profile/msg2.png"/>
                    </li>
                    <li class="nav-li" ng-show="logged()">
                        <a class="hd nav-li-a" ng-click="logOut()" href="#" style="color:white;outline:none;">退出</a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#FFFFFF;padding:0 0 0 0;background-color:inherit"><div class="hd_div_post" style="padding-top:7px;font-size:20px;">发布你的</div></a>
                      <ul class="dropdown-menu" style="border-radius:0 0px 8px 8px; border:1px solid #b3b3b4;background-color:#f3f3f3;margin-left:20px;margin-right:10px;min-width:100px;margin-top:2px;padding:0 0 0 0;">
                        <li class="post_list" ng-click="showRoompost()">发布房子</li>
                        <li class="post_list" ng-click="showCarpost()">发布车子</li>
                        <li class="post_list" ng-click="showItemspost()">发布旧货</li>
                        <li class="post_list2" ng-click="showActivspost()">发布活动</li>
                      </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

    </nav>
    
        <div class="" style="padding-top:0;padding-bottom:0;position:absolute;left:0;right:0;top:0;z-index:1;background-repeat:no-repeat;background-size:cover;height:100%;width:auto;overflow:hidden;">
        <div id="title-carousel" class="carousel slide" style="height:100%;" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#title-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#title-carousel" data-slide-to="1"></li>
            <li data-target="#title-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox" style="height:100%;width:100%;margin:auto">
            <div class="item active" style="height:100%;width:100%;margin:auto">
                <div style="background-image:url(/app/view/img/home/1.jpg);background-size:cover;height:100%;width:100%;"  alt="..."></div>
            </div>
            <div class="item" style="height:100%;width:100%">
                <div style="background-image:url(/app/view/img/home/2.jpg);background-size:cover;height:100%;width:100%;" alt="..."></div>
            </div>
            <div class="item" style="height:100%;width:100%">
                <div style="background-image:url(/app/view/img/home/3.jpg);background-size:cover;height:100%;width:100%;" alt="..."></div>
            </div>
          </div>
        </div>
        <script>
        $('.carousel').carousel({
            interval: 5000,
            pause: false
        })    
        </script>
        
    </div>
    <div class="search-area"> 
        <div class="main-title">
            <h1>
                <span class="" style="font-size:60px;letter-spacing:5px;">他乡即故乡</span> 
            </h1> 
        </div>
        <div class="head-line"><hr/></div>
        <div class="search-univer" style="background-color:#FFFFFF;height:43px;border-radius:3px;">
            <span style="background-color:#FFFFFF;float:left;height:30px;margin-top:5px;">
                <div style="margin-left:2px;margin-right:8px;margin-bottom:6px;width:30px;height:34px;background-image:url(/app/view/img/home/search.jpg);background-size:cover;"></div>
            </span>  
            <p style="float:left;color:rgb(182,182,182);font-size:25px;margin-right:6px;padding-bottom:3px;">|</p>
            <!--
            <input ng-controller="SchoolSearchCtrl" ng-model="selected" ng-change="clickSearch()" ng-focus="clickSearch()" type="text" placeholder="寻找你的大学" style="color:rgb(86,90,92);border:none;width:383px;height:43px;outline:none;font-size:18px;" typeahead="school for school in schools | filter:$viewValue:emptyOrMatch | limitTo:3" typeahead-focus></input> 
            -->
            <div id="the-basics">
              <input ng-controller="SchoolSearchCtrl" class="typeahead form-control" type="text" placeholder="寻找你的大学" style="color:rgb(86,90,92);border:none;width:383px;height:43px;outline:none;font-size:18px;">
            </div>


        </div> 
    </div>
</div>

<!--hot recomment-->
<div class="jumbotron" style="background-image:url(/app/view/img/home/recommend.jpg);background-repeat:no-repeat;background-size:cover;height:10%px;;width:auto;overflow:hidden;min-width:1000px;">
    <div class="container text-center">
        <span class="" style="font-size:42px;color:#FFFFFF;" id="title-zh">热门推荐</span> 
    </div>
</div>

<div class="container" style="width:1000px;margin-bottom:30px;">
    <div layout="row" layout-align="center" style="margin-bottom:30px;">
        <div flex=30 style="margin-left:25px;margin-right:25px;">
            <a href="#/school/{{schools[0]._id}}" ng-style="{'background-image':'url('+schools[0].image+')'}" class="school">
                <span class="school_name" style="bottom: 40%;"><strong>George <br/>Washington</strong></span>
            </a>
        </div>
        <div flex=30 style="margin-left:25px;margin-right:25px;">
            <a href="#/school/{{schools[1]._id}}" ng-style="{'background-image':'url('+schools[1].image+')'}" class="school">
                <span class="school_name"><strong>Johns Hopkins</strong></span>
            </a>
        </div>
        <div flex=30 style="margin-left:25px;margin-right:25px;">
            <a href="#/school/{{schools[2]._id}}" ng-style="{'background-image':'url('+schools[2].image+')'}" class="school">
                <span class="school_name"><strong>Georgetown</strong></span>
            </a>
        </div>
        
    </div>
</div>

<!--website intro-->
<!--
<div class="container" style="min-width:1000px;">
    <div class="jumbotron" style="background-color:#FFFFFF;height:180px;;width:auto;overflow:hidden;min-width:650px;">
        <div class="container sub-title"><span class="" style="font-size:36px;color:#000000;">网站说明</span></div>
    </div>
    <div style="border:1px solid rgb(222,89,81);margin-bottom:40px;padding:20px 40px 20px 40px">
        <div flex style="padding:20px 40px 20px 40px">
            <h3>吉屋：帮你找到最合适的出租公寓，综合考虑地理位置、价格、大小、环境等诸多因素。在这里，你可以找到理想的学习环境，志同道合的室友，体验地道的美式生活。</h3>
        </div>
        <div flex style="border-top:1px solid #D4D4D2;padding:20px 40px 20px 40px">
            <h3>车行：在外游学，出行多有不便。长期租车费用较高，不如购入一辆二手车，为您上学，买菜，购物，旅游提供诸多便利。在这里，您可以根据自身需求，通过对价格，车型，年份等条件的筛选找到称心如意的座驾。</h3>
        </div>
        <div flex style="border-top:1px solid #D4D4D2;padding:20px 40px 20px 40px">
            <h3>集市：卖卖卖，总有些东西买来就有些后悔，又或者是有了一段时间以后发现不适合自己，也可能是新品上市想更新产品，不如把旧货放到我们的小站上，这可比卖给一些二手电商要划算多了；买买买，总有些东西想买却又感觉价格太高，在心里种了好多“草”却又舍不得“拔”，不如来我们的集市淘淘宝，说不定就能以惊喜的价格买到朝思暮想的好宝贝。</h3>
        </div>
        <div flex style="border-top:1px solid #D4D4D2;padding:20px 40px 20px 40px">
            <h3>活动：一个人出门在外，难免会感到寂寞，社交活动必不可少。想想大家围在一起玩桌游，充斥着的欢声笑语；相约一起去游乐园，过山车上不时传来的尖叫声。又或是安静的夜晚，大家躺在公园的草地上看着夜空，我，把我的心事说给你听。</h3>
        </div>
    </div>
</div>
-->
<!--footer-->
<div footer></div>
<style>
</style>
</body>
</html>