<div style="background-color:rgb(248,248,249);min-width:1000px" id="wrapper">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div top-bar></div>
    <div layout="row" id="content">
    <div class="container" style="padding-top:27.7px;padding-bottom:27.7px;width:1000px">
        <div layout="row">
            <div flex=75>
                <div layout="row">
                    <div style="padding-left:25px;padding-right:25px;">
                        <div ng-style="{'background-image':'url('+othersInfo.avatar+')'}" class="center-block mates_wrapper other">
                        </div>
                    </div>
                    <div style="width:180px;padding-top:20px;padding-left:15px;padding-right:5px;font-size:16px;">
                        <p><strong>{{othersInfo.username}}</strong></p>
                        <p>{{schoolName}}</p>
                    </div>
                    <div style="margin-top:90px;width:140px;outline:none;" ng-click="pageReturn()" layout="row">
                        <div><img style="width:24;height:24;" src="/app/view/img/icon/othersInfo_return.png"></img></div>
                        <div style="padding-left:10px;padding-top:5px;padding-bottom:5px;font-size:16px;">返回校友列表</div>                       </div>
                  
                    <div layout="row" style="margin-top:10px;">
                        <!--div class="img-circle" style="width:80px;height:80px;background-color:#3CB49E;margin-top:20px;margin-left:25px;padding-top:25px;padding-left:20px;color:#ffffff;"><h4>关注</h4></div-->
                        <div class="img-circle" style="width:80px;height:80px;background-color:#F08C6A;margin-top:10px;margin-left:30px;padding-top:25px;padding-left:23px;color:#ffffff;"><h4>联系</h4></div>
                    </div>
                </div>
                <div layout="column" style="padding-top:20px;">
                    <div layout="row">
                        <div style="margin-left:5px;"><h4><b>正在出售</b></h4></div>
                        <div ng-show="hasSelling" style="margin-left:8px;margin-top:8px;padding-left:0px;padding-top:1px;width:17px;height:17px;line-height:15px;background-image:url(/app/view/img/profile/topost.png);background-size:100% 100%;color:#EA5743;font-size:10px;text-align:center;"><strong>{{onSelling.length}}</strong></div>
                    </div>
                    <div>
                        <div ng-hide="hasSelling"><h4>&gt;_&lt;该用户还没有任何发布</h4></div>
                        <div ng-repeat="each in onSelling" style="padding:15px;float:left;outline:none;" ng-click="goToEach($index)">
                            
                                <div style="background-size:cover;width:160px;height:120px;margin-top:-10px;margin-left:-10px;"  ng-style="{'background-image':'url('+each.content.cover+')'}"></div>
                                <!--div style="width:150px"><h5>{{each.content.title}}</h5></div-->
                            
                        </div>
                    </div>
                </div> 
            </div>
            <!--div flex=25 layout="column">
                <div style="padding-bottom:10px"><h4><b>相关活动</b></h4></div>
                <div style="padding:0 5 12 5;margin-bottom:15px;border:2px solid #9c9f9f">
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;">
                        <div style="float:left;"><h4>标题</h4></div>
                        <div style="float:right;padding-top:5px;"><img style="height:15px;width:15px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png"/></div>
                    </div>
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;padding-top:5px;">
                        <h4>321人参与</h4>
                    </div>
                </div>
                <div style="padding:0 5 12 5;margin-bottom:15px;border:2px solid #9c9f9f">
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;">
                        <div style="float:left;"><h4>标题</h4></div>
                        <div style="float:right;padding-top:5px;"><img style="height:15px;width:15px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png"/></div>
                    </div>
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;padding-top:5px;">
                        <h4>321人参与</h4>
                    </div>
                </div>
                <div style="padding:0 5 12 5;margin-bottom:15px;border:2px solid #9c9f9f">
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;">
                        <div style="float:left;"><h4>标题</h4></div>
                        <div style="float:right;padding-top:5px;"><img style="height:15px;width:15px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png"/></div>
                    </div>
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;padding-top:5px;">
                        <h4>321人参与</h4>
                    </div>
                </div>
                <div style="padding:0 5 12 5;border:2px solid #9c9f9f">
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;">
                        <div style="float:left;"><h4>标题</h4></div>
                        <div style="float:right;padding-top:5px;"><img style="height:15px;width:15px;margin-left:10px;"  src="/app/view/img/profile/favorite1.png"/></div>
                    </div>
                    <div style="border-bottom:1px solid #9c9f9f;height:35px;padding-top:5px;">
                        <h4>321人参与</h4>
                    </div>
                </div>
            </div-->
        </div>
    </div>
    </div>
<div footer id="footer"></div>
</div>
<style>
    h4{
        margin-top:5px;
        margin-bottom:5px;
    }
</style>

