<div layout="column" id="wrapper">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div layout="row" id="content">
    <div class="container" style="width:1000px;padding-bottom:30px;">
    <div layout="row">
        <div ng-style="{'background-image':'url('+img+')'}" class="center-block mates_wrapper head"></div>
        <div style="outline:none" ng-class="{true:'user-page-button-click', false:'user-page-button'}[activeTab==1]" style="margin-left:77px;" ng-click="setActiveTab(1)" clickme>个人资料</div>
        <div style="outline:none" ng-class="{true:'user-page-button-click', false:'user-page-button'}[activeTab==3]" ng-click="setActiveTab(3)" clickme>您的消息</div>
        <div style="outline:none" ng-class="{true:'user-page-button-click', false:'user-page-button'}[activeTab==4]" ng-click="setActiveTab(4)" clickme>您的发布</div>
        <div style="outline:none" ng-class="{true:'user-page-button-click', false:'user-page-button'}[activeTab==2]" ng-click="setActiveTab(2)" clickme>您的收藏</div>
    </div>
    <!--Start of profile-->
    <div style="margin-top:30px;" layout="row" ng-show="activeTab == 1">
    <!--Begin of left side nav_bar-->
    <md-sidenav  md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" >
        <md-content role="navigation" >
            <ul >
                <li>
                    <menu-link  ng-click="setActivePage(1)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    基本信息
                                </span>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link ng-click="setActivePage(3)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    头像
                                </span>
                            </div>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <!--End of side nav bar-->
        <img src="app/view/img/profile/line1.png" style="height:450px;"/>
        <div layout="column">
            <div class="profile-page" layout="column" ng-show="activePage == 1" >
                <span style="margin-left:40px;">基本信息</span>
                <div class="div-vertical-center" layout="row" style="margin-left:160px;margin-top:10px;">
                    <span>用户名（建议使用真实姓名，first name和last name,姓名会在您选择其他选项卡时保存）</span>
                </div>
                <div class="div-vertical-center" layout="row" style="margin-left:160px;margin-top:20px;">
                    <input class="form-control text-left" type="text" maxlength="10" style="width:415px;" ng-model="basicInfo.username"/>
                </div>
                
                <span style="margin-left:40px;margin-top:20px;">学校信息</span>
                <div class="div-vertical-center" layout="row" style="margin-left:160px;margin-top:10px;">
                    <span style="margin-top:5px;">学校名称</span>
                    <md-select ng-model="basicInfo.schoolId" style="width:400px;margin-left:15px;" aria-label="schoolId">
                        <md-option value="{{id}}" ng-repeat="id in schoolIds">
                            {{schoolNames[$index]}}
                        </md-option>
                        <!--option value="56147f7aef6d2a2806532536">
                            The George Washington University
                        </option>
                        <option value="56147fc8ef6d2a2806532537">
                            Johns Hopkins University
                        </option>
                        <option value="56147fd4ef6d2a2806532538">
                            Georgetown University
                        </option-->
                    </md-select>
                    <!--<input ng-model='schoolName' class='form-control text-left' type='text' style='width:400px;margin-left:15px;' />-->
                </div>
                
                <div class="div-vertical-center" layout="row" style="margin-left:160px;margin-top:20px;" >
                    <div layout="row" layout-align="start end">
                        <div>
                            <p style="margin-bottom:3px;">入学年份</p>
                        </div>
                        <div style="margin-left:10px;">
                            <md-select placeholder="" ng-model="basicInfo.enrollYear" required class="rp_select" aria-label="enrollyear">
                                <md-option value="2010">2010</md-option>
                                <md-option value="2011">2011</md-option>
                                <md-option value="2012">2012</md-option>
                                <md-option value="2013">2013</md-option>
                                <md-option value="2014">2014</md-option>
                                <md-option value="2015">2015</md-option>
                                <md-option value="2016">2016</md-option>
                                <md-option value="2017">2017</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div layout-align="start center" layout="row">
                        <input type="radio" id="fall" name="group1" style="margin-left:85px;" value="Fall" ng-model="basicInfo.enrollSeason" clickme aria-label="seasonfall"/> 
                        <label for="fall" style="margin-left:10px;margin-bottom:0px;">秋季入学（8月）</label>
                        <input type="radio" id="spring" name="group1" style="margin-left:50px;" value="Spring" ng-model="basicInfo.enrollSeason" clickme aria-label="seasonspring"/>
                        <label for="spring" style="margin-left:10px;margin-bottom:0px;">春季入学（2月）</label>
                    </div>
                </div>
                
                <div style="width:100%;margin-top:25px;">
                    <button class="pull-right btn update" ng-click="updateInfo()">
                    <div layout="row" layout-align="center center">
                        <div>
                            保存修改
                        </div>
                    </div>
                </button>
                </div>
            </div>
            <div class="profile-page" layout="column" ng-show="activePage == 3">
                <span style="margin-left:40px;">头像信息</span>
                <div layout="row" style="margin-left:30px;margin-top:30px;">
                    <div layout="column">
                        <div ngf-drop ngf-select ng-model="file" class="avatar-drop" 
                            ngf-drag-over-class="dragover" ngf-allow-dir="true"
                            accept="image/*"></div>
                       
                    </div>
                    <img src="/app/view/img/profile/point_right.png" style="height:120px;width:38px;margin-top:50px;margin-left:55px;"/>
                    
                    <div layout="column" style="margin-top:30px;margin-left:40px;text-align:center;">                
                        <div style="width:122px;height:122px;"   ng-style="{'background-image':'url('+img+')'}" ng-show="img !== undefined" class="center-block mates_wrapper head"></div>
                        
                        
                        <img ng-src="/app/view/img/profile/default_avatar.png"  ng-show="img == undefined"/>
                        <span style="padding-left:25px;margin-top:5px;">头像预览</span>
                    </div>
                </div>
               
            </div>
            <div class="profile-page" layout="column" ng-show="activePage == 4">
                <span style="margin-left:40px;">账号信息</span>
               
            </div>
        </div>
    </div>
    <!--End of profile-->
    <!--begin of Favorites -->
    <div style="padding-left:200px;margin-top:30px;" layout="row" ng-show="activeTab == 2">
        <img src="app/view/img/profile/line1.png" style="height:450px;"/>
        <div layout="column">
            <div layout="row">
                <input type="checkbox" ng-model="filterApt" style="margin-left:85px;margin-top:1px;" id="Apts" clickme/> <label for="Apts">找房</label>
                <input type="checkbox" ng-model="filterItem" style="margin-left:50px;margin-top:1px;" id="Goods" clickme/> <label for="Goods">淘货</label>
                <input type="checkbox" ng-model="filterCar" style="margin-left:50px;margin-top:1px;" id="Cars" clickme/> <label for="Cars">寻车</label>
                <input type="checkbox" ng-model="filterActivity" style="margin-left:50px;margin-top:1px;" id="Activities" clickme/> <label for="Activities">活动</label>    
            </div>
            <hr style="margin-left:40px;width:750px;"/>
            <div layout="row" layout-wrap style="padding-left:20px;">
            <div style="box-sizing:border-box;"ng-repeat="apt in favoriteApts">
                <li class="half_li" >
                    <a class="half_pic" ng-style="{'background-image':'url('+apt.cover+')'}" href="#/rooms/{{apt.id}}">
                        
                        <!--span class="half_price">{{apt.price.minPrice}}-{{apt.price.maxPrice}}</span-->
                        <!--img class="half_user_pic" ng-src="{{apt.userAvatar}}"-->
                    </a>
                    <!--div class="half_type" layout="row"><p ng-repeat="type in apt.type">{{type}}&nbsp;&nbsp;</p></div-->
                </li>
            </div>
            
                <div style="box-sizing:border-box;"ng-repeat="car in favoriteCars">
                    <li class="half_li">
                        <a class="half_pic" ng-style="{'background-image':'url('+car.cover+')'}" href="#/cars/{{car._id}}">

                            <!--span class="half_price">{{car.price}}</span>
                            <img class="half_user_pic" ng-src="{{car.userAvatar}}"-->
                        </a>
                        <!--div class="half_type" layout="row"><p ng-repeat="type in car.type">{{type}}&nbsp;&nbsp;</p></div-->
                    </li>
                </div>
                
                <div style="box-sizing:border-box;"ng-repeat="item in favoriteItems">
                    <li class="half_li">
                        <a class="half_pic" ng-style="{'background-image':'url('+item.cover+')'}" href="#/items/{{item._id}}">

                            <!--span class="half_price">{{item.price}}</span>
                            <img class="half_user_pic" ng-src="{{item.userAvatar}}"-->
                        </a>
                        <!--div class="half_type" layout="row"><p >{{item.category}}&nbsp;&nbsp;</p></div-->
                    </li>
                </div>
            </div>
        </div>
    </div>
    <!--End of Favorites-->
    <!--Start of message-->
    <div style="margin-top:30px;" layout="row" ng-show="activeTab == 3">
        <md-sidenav  md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" >
        <md-content role="navigation" >
            <ul >
                <li>
                    <menu-link  ng-click="">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    消息
                                </span>
                                <span flex></span>
                                <div ng-show="getUnreadMsgsNum()!==0" style="margin-left:10px;width:18px;height:18px;line-height:15px;background-image:url(/app/view/img/profile/msg.png);background-size:100% 100%;color:#EA5743;font-size:12px;text-align:center;padding-top:1px;padding-left:1px;">{{getUnreadMsgsNum()}}</div>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link  ng-click="">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    通知
                                </span>
                                <span flex></span>
                                <div ng-show="numNotify!==0" style="margin-left:10px;width:15px;height:15px;line-height:15px;background-image:url(/app/view/img/profile/msg.png);background-size:100% 100%;color:#EA5743;">{{numNofity}}</div>
                            </div>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
        </md-sidenav>
        <img src="app/view/img/profile/line1.png" style="height:450px;"/>
        
        <div layout="column" >
            <span style="margin-left:40px;">消息</span>
            <div layout="row" style="margin-left:20px;" ng-repeat="message in messages">
                <div layout="column" style="width:50px;">
                    <div ng-style="{'background-image':'url('+message.avatar+')'}" style="overflow:visible; height:60px;width:60px;background-size:cover;" class="center-block mates_wrapper head">
                        <div style="height:22px;width:22px;background-size:100% 100%;background-image:url(/app/view/img/profile/msg2.png);margin-left:38px;margin-top:0;
                                    color:white;text-align:center;line-height:22px;font-size:12px; text-align:center;" ng-show="message.num!==0">{{message.num}}</div>
                    </div>

                </div>
                <div layout="column" style="padding-top:20px;margin-left:50px;width:120px;overflow:hidden;">
                    <span style="margin-top:15px;">{{message.user}}</span>
                    <!--span style="margin-top:10px;">{{message.school}}</span-->
                </div>
                <img src="/app/view/img/profile/line2.png" style="height:46px;margin-left:5px;margin-top:27px;"/>
                <div style="margin-left:20px;padding-top:35px;width:230px;" layout="row">
                   
                    <p style="margin-right:20px;"><strong>{{message.lastMsg}}</strong></p>
            
                </div>
                
                <div style="width:150px;padding-top:35px;">
                    <p>{{message.time | date:'HH:mm:ss yyyy/MM/dd'}}</p>
                </div>
                
                <img src="/app/view/img/profile/line2.png" style="height:46px;margin-left:5px;margin-top:27px;"/>
                
                <div ng-controller="HeaderController" class="msg-icon" style="margin-top:28px;background-image:url(/app/view/img/profile/contact.png);" ng-click="openChatWindow($event, message.userId)" clickme>联系</div>
                <!--div class="msg-icon" style="background-image:url(/app/view/img/profile/blacklist.png);">黑</div-->
            </div>
        </div>
    </div>
    <!--End of message-->  
    <!--Start of posted-->
    <div style="margin-top:30px;" layout="row" ng-show="activeTab == 4">
        <!--Begin of left side nav_bar-->
    <md-sidenav  md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" >
        <md-content role="navigation" >
            <ul >
                <li>
                    <menu-link  ng-click="setPostPage(1)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    已发布
                                </span>
                                <span flex></span>
                                <div ng-show="hasPostedApts||hasPostedCars||hasPostedItems" style="margin-left:10px;width:18px;height:18px;line-height:15px;background-image:url(/app/view/img/profile/posted.png);background-size:100% 100%;color:#62B5DB;text-align:center;font-size:12px;padding-top:1px;">{{apts.length+cars.length+items.length}}</div>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link  ng-click="setPostPage(2)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    未发布
                                </span>
                                <span flex></span>
                                <div ng-show="hasDraftApts||hasDraftCars" style="margin-left:10px;width:18px;height:18px;line-height:15px;background-image:url(/app/view/img/profile/topost.png);background-size:100% 100%;color:#EA5743;font-size:12px;text-align:center;padding-top:1px;">{{aptDrafts.length+carDrafts.length}}</div>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link  ng-click="setPostPage(3)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    已成交
                                </span>
                                <span flex></span>
                                <div ng-show="numDeal!==0" style="margin-left:10px;width:15px;height:15px;line-height:15px;background-image:url(/app/view/img/profile/deal.png);background-size:100% 100%;color:#3CB49E;font-size:12px;">{{numDeal}}</div>
                            </div>
                        </a>
                    </menu-link>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <!--End of side nav bar-->
    
    <img src="app/view/img/profile/line1.png" style="height:450px;"/>
    <div layout="column" ng-show="postPage==1">
        <div layout="row">
            <input type="checkbox" ng-model="filterApt" style="margin-left:85px;margin-top:1px;" id="Apts" clickme/> <label for="Apts">找房</label>
            <input type="checkbox" ng-model="filterItem" style="margin-left:50px;margin-top:1px;" id="Goods" clickme/> <label for="Goods">淘货</label>
            <input type="checkbox" ng-model="filterCar" style="margin-left:50px;margin-top:1px;" id="Cars" clickme/> <label for="Cars">寻车</label>
            <input type="checkbox" ng-model="filterActivity" style="margin-left:50px;margin-top:1px;" id="Activities" clickme/> <label for="Activities">活动</label>    
        </div>
        <hr style="margin-left:40px;width:700px;"/>
        <div class="post-item-div" layout="row" ng-repeat="apt in localApts" ng-controller="HeaderController" ng-show="filterApt">
            <a href="#/rooms/{{apt.id}}"><img style="height:72px;width:105px; " ng-src="{{apt.cover}}"/></a>
            <div style="margin-left:25px;width:180px;height:50px;overflow:hidden;">{{apt.title}}</div>
            <div style="margin-left:15px;text-align:right;width:90px;">
                <span>{{apt.createAt | date:'yyyy-MM-dd'}} </span>
            </div>
            <div ng-hide="apt.minPrice == apt.maxPrice" style="margin-top:15px;margin-left:20px;height:45px;line-height:45px;width:95px;background:#F08C6A;text-align:center;color:white;">${{apt.minPrice}} - {{apt.maxPrice}}</div>
             <div ng-show="apt.minPrice == apt.maxPrice" style="margin-top:15px;margin-left:20px;height:45px;line-height:45px;width:95px;background:#F08C6A;text-align:center;color:white;">${{apt.minPrice}}</div>
            <span style="margin-left:20px;outline:none;" ng-click="editAptPost($event, apt.id, 1)">编辑</span>
            <img src="/app/view/img/profile/line2.png" style="height:38px;margin-left:20px;margin-top:19px;"/>
            <img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;margin-left:30px;margin-top:25px;" ng-click="deleteApt($index, apt.id, 1)"/>
        </div>
        <div class="post-item-div" layout="row" ng-repeat="car in localCars" ng-controller="HeaderController" ng-show="filterCar">
            <a href="#/cars/{{car._id}}"><img style="height:72px;width:105px; " ng-src="{{car.cover}}"/></a>
            <div style="margin-left:25px;width:180px;height:50px;overflow:hidden;">{{car.title}}</div>
            <div style="margin-left:15px;text-align:right;width:90px;">
                <span>{{car.createAt | date:'yyyy-MM-dd'}} </span>
            </div>
            <div style="margin-top:15px;margin-left:20px;height:45px;line-height:45px;width:95px;background:#F08C6A;text-align:center;color:white;">${{car.price}}</div>
            <span style="margin-left:20px;outline:none;" ng-click="editCarPost($event, car._id,1)">编辑</span>
            <img src="/app/view/img/profile/line2.png" style="height:38px;margin-left:20px;margin-top:19px;"/>
            <img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;margin-left:30px;margin-top:25px;" ng-click="deleteCar($index, car._id, 1)"/>
        </div>
        <div class="post-item-div" layout="row" ng-repeat="item in localItems" ng-controller="HeaderController" ng-show="filterItem">
            <a href="#/items/{{item._id}}"><img style="height:72px;width:105px; " ng-src="{{item.cover}}"/></a>
            <div style="margin-left:25px;width:180px;height:50px;overflow:hidden;">{{item.itemName}}</div>
            <div style="margin-left:15px;text-align:right;width:90px;">
                <span>{{item.createAt | date:'yyyy-MM-dd'}} </span>
            </div>
            <div style="margin-top:15px;margin-left:20px;height:45px;line-height:45px;width:95px;background:#F08C6A;text-align:center;color:white;">${{item.price}}</div>
            <!--span style="margin-left:40px;" ng-click="editCarPost($event, car._id,1)">编辑</span-->
            <img src="/app/view/img/profile/line2.png" style="height:38px;margin-left:70px;margin-top:19px;"/>
            <img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;margin-left:30px;margin-top:25px;" ng-click="deleteItem($index, item._id)"/>
        </div>
    </div>
        
    <div layout="column" ng-show="postPage==2">
        <div layout="row">
            <input type="checkbox" ng-model="filterApt" style="margin-left:85px;margin-top:1px;" id="Apts" clickme/> <label for="Apts">找房</label>
            <input type="checkbox" ng-model="filterCar" style="margin-left:50px;margin-top:1px;" id="Cars" clickme/> <label for="Cars">寻车</label>
            
            <input type="checkbox" ng-model="filterActivity" style="margin-left:50px;margin-top:1px;" id="Activities" clickme/> <label for="Activities">活动</label>       
        </div>
        <hr style="margin-left:40px;width:700px;"/>
        <div class="post-item-div" layout="row" ng-repeat="apt in localDraftApts" ng-controller="HeaderController" ng-show="filterApt">
            <img style="height:72px;width:105px; " ng-src="{{apt.cover}}"/>
            <span style="margin-left:45px;width:200px;">{{apt.title}}</span>
            <div style="margin-left:30px;text-align:right;width:180px;">
                <span>{{apt.createAt | date:'yyyy-MM-dd'}} </span>
            </div>
            
            <span style="margin-left:40px;outline:none;" ng-click="editAptPost($event, apt._id, 2)">编辑</span>
            <img src="/app/view/img/profile/line2.png" style="height:38px;margin-left:40px;margin-top:19px;"/>
            <img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;margin-left:30px;margin-top:25px;" ng-click="deleteApt($index, apt._id, 2)"/>
        </div>
        <div class="post-item-div" layout="row" ng-repeat="car in localDraftCars" ng-controller="HeaderController" ng-show="filterCar">
            <img style="height:72px;width:105px; " ng-src="{{car.cover}}"/>
            <span style="margin-left:45px;width:200px;">title</span>
            <div style="margin-left:30px;text-align:right;width:180px;">
                <span>{{car.createAt | date:'yyyy-MM-dd'}} </span>
            </div>
            
            <span style="margin-left:40px;outline:none;" ng-click="editCarPost($event, car._id, 2)">编辑</span>
            <img src="/app/view/img/profile/line2.png" style="height:38px;margin-left:40px;margin-top:19px;"/>
            <img src="/app/view/img/profile/delete.png" style="width:12px;height:24px;margin-left:30px;margin-top:25px;" ng-click="deleteCar($index, car._id, 2)"/>
        </div>
        
    </div>
        
    </div>
    <!--End of posted-->
    </div>
    </div>
    <div footer id="footer"></div>
</div>
<style>
    .update{
        outline: none;
    }
    .update:hover{
        color: white;
        outline: none;
    }
    .update:visited{
        color: white;
        outline: none;
    }  
    .update:focus{
        color: white;
        outline: none;
    }  
</style>