<!--
<div>
	<p>if user can change password: {{activated}}<p>
</div>
-->

<div style="height: 100vh; background-image:url(/app/view/img/home/2.jpg);background-size:cover;">
	<div ng-show="activated && !reset" class="container">
		<div style="height: 20vh"></div>
		<p class="reset-text">请输入新密码</p>
		<p class="reset-text-m">密码不能少于6位</p>
		<div style="height: 5vh"></div>
		<div class="centered text-center reset-input">
			<input class="centered" type="password"  placeholder="Password" ng-model="userData.password" name="password">
		</div>
		<!--
		<div class="reset-button" ng-click="resetPassword()"><h3>Reset password</h3></div> 
		-->
		<div style="height: 5vh"></div>
		
		<div class="cnetered text-center">
			<button class="reset-button" ng-click="resetPassword()"><p style="font-size: 15px; margin: 0">重置密码</p></button>
		</div>
		
	</div>

	<div ng-show="reset">
		<div style="height: 20vh"></div>
		<p class="reset-text">修改成功</p>
		<div style="height: 20vh"></div>
		<div class="cnetered text-center">
			<button class="reset-button" ng-click="goHome()"><p style="font-size: 15px; margin: 0">回到主页</p></button>
		</div>
	</div>

	<div ng-hide="activated">
		<div style="height: 20vh"></div>
		<p class="reset-text">页面错误</p>
		<div style="height: 20vh"></div>
		<div class="cnetered text-center">
			<button class="reset-button" ng-click="goHome()"><p style="font-size: 15px; margin: 0">回到主页</p></button>
		</div>
	</div>

</div>
<style type="text/css">
.reset-button {
    font-family: "Gotham Book", Helvetica;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height:40px;
    width:100px;
}
.reset-button:hover{
	font-family: "Gotham Book", Helvetica;
	border-radius: 10px;
	background-color: white;
	color: black;
	border: 1px solid white;
}
.reset-text {
	font-family: "Gotham Book", Helvetica !important;
	font-size: 3vh;
	line-height: 3vh;
	padding: 0% !important;
	color: white;
	text-align: center;
}
.reset-text-m {
	font-family: "Gotham Book", Helvetica !important;
	font-size: 2vh;
	line-height: 2vh;
	padding: 0% !important;
	color: white;
	text-align: center;
}
.centered{
    margin: 0 auto;
}
.reset-input input[type="password"] {
	width: 200px;
	height: 30px;
	padding: 2px;
	border:solid 1 px white;

}
</style>
