<div style="background-color:rgb(248,248,249);" >
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div class="container" style="width:1000px;" layout="column">
        <div layout="row" style="margin:0 0 53 0;" >           
            <!--信息区-->
            <div flex="70" layout="column"  id="leftBar">
                <!--房屋展示图-->
                <div layout="row" >
                    <div flex style="height:400px;background-repeat:no-repeat; background-size:cover; " ng-style="{'background-image':'url('+data.cover+')'}">
                    </div>
                    <div style="padding-right:30px; margin-right:25px; border-right:1px solid black;">
                    </div>
                </div>
                <div style="margin-right:53px;">
                    <!--发布者信息-->
                    <div layout="row" style="padding-top:20px; padding-bottom:20px;">
                        <div>
                            <img class="md-whiteframe-z1" ng-src="{{avatar}}" style="border-radius:50%; width:80px;height:80px; border:1px solid rgb(220,224,224);"/>
                        </div>
                        <div layout="row" style="padding-left:30px; padding-top:40px;">
                            <div>{{username}}</div>
                            <div style="margin-right:50px;margin-left:50px;">|</div>
                            <div>{{schoolName}}</div>        
                        </div>
                    </div>
                    <!--画线-->
                    <div >
                        <hr style="margin:0px 5px 0px 5px;border:0;border-top:1px solid #333333;">
                    </div>
                    <!--公寓信息-->
                    <div class="md-padding" style="padding-top:0px;padding-bottom:5px;" layout="row">
                        <div flex="33">
                            <h3 class="hs_subtitle"><b>公寓信息</b></h3>
                        </div>
                        <div flex="66" style="margin-top:21px;" layout="row" layout-wrap>
                            <div flex="50" ng-show="data.facilities.apt[key]" ng-repeat="(key,value) in data.facilities.apt">
                                <div layout="row" style="margin-bottom:10px;height:40px;">
                                    <div flex="10" ng-style="{'background-image':'url({{aptIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                    <div flex="10" ></div>
                                    <div flex="80">{{name(key)}}</div>
                                </div>
                             </div>
                             <div flex="50" ng-show="!data.facilities.apt[key] && show_all_apt" ng-repeat="(key,value) in data.facilities.apt">
                                <div layout="row" style="margin-bottom:10px;height:40px;">
                                    <div flex="10" ng-style="{'background-image':'url({{aptIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                    <div flex="10" ></div>
                                    <div flex="80"><del>{{name(key)}}</del></div>
                                </div>
                            </div>
                            <div style="margin-bottom:20px;">
                            <a id="moreApts" style="color:#E95743;outline:none;" href="" ng-show="!has_all_facilities()" data-ng-click="ShowAllApt()">
                                <strong ng-show="!show_all_apt">+ More</strong>
                            </a>
                            </div>
                        </div>
                    </div>
                    <!--画线-->
                    <div >
                        <hr style="margin:0px 5px 0px 5px;border:0;border-top:1px solid #333333;">
                    </div>
                    <!--房间信息-->
                    <div class="md-padding" style="padding-top:0px;padding-bottom:5px;" layout="row">
                        <div flex="33">
                            <h3 class="hs_subtitle" ng-click="ShowAllApt()"><b>房间信息</b></h3>
                        </div>
                        <div flex="66" style="margin-top:21px;" layout="row" layout-wrap>
                            <div flex="50" ng-show="data.facilities.room[key]" ng-repeat="(key,value) in data.facilities.room">
                                <div layout="row" style="margin-bottom:10px;height:40px;">
                                    <div flex="10" ng-style="{'background-image':'url({{roomIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                    <div flex="10" ></div>
                                    <div flex="80">{{name(key)}}</div>
                                </div>
                            </div>
                            <div flex="50" ng-show="!data.facilities.room[key] && show_all_room" ng-repeat="(key,value) in data.facilities.room">
                                <div layout="row" style="margin-bottom:10px;height:40px;">
                                    <div flex="10" ng-style="{'background-image':'url({{roomIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                    <div flex="10" ></div>
                                    <div flex="80"><del>{{name(key)}}</del></div>
                                </div>
                            </div>
                            <div style="margin-bottom:20px;">
                                <a id="moreRooms" style="color:#E95743; outline:none;"  href="" ng-show="!has_all_room_facilities()" ng-click="ShowAllRoom()">
                                    <strong ng-show="!show_all_room">+ More</strong>
                                </a>
                            </div>    
                        </div>
                    </div>
                    <!--画线-->
                    <div >
                        <hr style="margin:0px 5px 0px 5px; border:0;border-top:1px solid #333333;">
                    </div>
                    <!--相关费用-->
                    <div class="md-padding"  style="padding-top:0px;padding-bottom:5px;" layout="row">
                        <div flex="33">
                            <h3 class="hs_subtitle"><b>相关费用</b></h3>
                        </div>
                        <div flex="66" style="margin-top:21px;" layout="row" layout-wrap >
                            <div style="margin-bottom:10px;height:40px;" flex="50" ng-show="data.fees[key] !== null" ng-repeat="(key,value) in data.fees">
                                <div >{{data.fees[key]}} $ &nbsp; {{name(key)}}</div>
                            </div>
                            <div style="margin-bottom:10px;height:40px;" flex="50" ng-show="data.fees[key] == null && show_all_fees" ng-repeat="(key,value) in data.fees">
                                <div >
                                    <del>{{name(key)}} {{data.fees[key]}}<del>
                                </div>
                            </div>
                            <div style="margin-bottom:20px;">
                                <a id="moreFees" style="color:#E95743;outline:none;"  href="" ng-show="!has_all_fees()" ng-click="ShowAllFees()" flex-end>
                                    <strong ng-show="!show_all_fees">+ More</strong>
                                </a>
                            </div>
                        </div>
                    </div> 
                    <!--画线-->
                    <div >
                        <hr style="margin:5px 5px 0px 5px; border:0;border-top:1px solid #333333;">
                    </div>
                    <!--信息描述-->
                    <div class="md-padding" style="padding-top:0px;padding-bottom:5px;" layout="row">
                            <div flex="33">
                                <h3 class="hs_subtitle"><b>信息描述</b></h3>
                            </div>
                            <div flex="66" style="margin-top:21px;" >
                                <p>{{data.description}}</p>
                            </div>
                        </div>       
                    <!--图片信息-->
                    <!--
                    <div class="md-padding"> 
                        <div ng-show="(data.images.length ==1)">    
                            <div  ng-click="openGallery(0)"  style="outline:none;height:280px;width:600px; background-size:cover; " ng-style="{'background-image':'url('+data.images[0]+')'} "></div> 
                        </div>
                        <div ng-show="(data.images.length > 1)" layout="row"> 
                            <div  ng-click="openGallery(0)"  style="outline:none;height:280px;width:370px; background-size:cover; margin-right:10px;" ng-style="{'background-image':'url('+data.images[0]+')'} "></div> 
                       
                            <div ng-show="(data.images.length == 2)"> 
                                <div  ng-click="openGallery(1)" style="outline:none; height:280px;width:220px;background-size:cover; " ng-style="{'background-image':'url('+data.images[1]+')'} "></div>
                            </div>
                            
                            <div ng-show="(data.images.length == 3)" layout="column"> 
                                
                                <div  ng-click="openGallery(1)" style="outline:none; height:135px;width:220px;background-size:cover; margin-bottom:10px; " ng-style="{'background-image':'url('+data.images[1]+')'} "></div>
                                <div  ng-click="openGallery(2)" style="outline:none; height:135px;width:220px;background-size:cover; " ng-style="{'background-image':'url('+data.images[2]+')'} "></div>
                            </div>
                            
                            <div ng-show="(data.images.length > 3)" layout="column"> 
                                
                                <div  ng-click="openGallery(1)" style="outline:none; height:185px;width:220px;background-size:cover; margin-bottom:10px; " ng-style="{'background-image':'url('+data.images[1]+')'} "></div>
                                <div layout="row">
                                <div  ng-click="openGallery(2)" style="outline:none; margin-right:10px; height:85px;width:105px;background-size:cover; " ng-style="{'background-image':'url('+data.images[2]+')'} "></div>
                                <div  ng-click="openGallery(3)" style="outline:none; height:85px;width:105px;background-size:cover; " ng-style="{'background-image':'url('+data.images[3]+')'} "></div>
                                </div>
                            </div>
                         </div>
                    </div>

                    -->                
                    <ng-gallery images="images" thumbs-num="{{images.length}}">
                    </ng-gallery>                    
                </div>
            </div>
            <!--滚动条-->
            <div flex="30">
            <!--房屋信息以及买卖-->         
                <div layout="column" affixme id="rightBar">
                    <div layout="column" >
                        <div>
                            <h3 class="text-center hs_subtitle" style="font-weight:bold;margin:0 0 0 0; padding:0 0 10 0;">{{data.title}}</h3>
                            <p style="text-align:center;">{{data.address.city+', '+data.address.state}}</p>
                        </div>
                        <div class="md-padding hs_frame withBorderRdius">
                            <div ng-repeat="room in data.rooms" style="margin-bottom:18px;">
                                <div layout="row">
                                    <div ng-show="room.type == '卧室'" flex="20" class="withBorderRdius roomTypeBottonBedroom"><h5>{{room.type}}</h5></div>
                                    <div ng-show="room.type == '客厅'" flex="20" class="withBorderRdius roomTypeBottonLivingroom"><h5>{{room.type}}</h5></div>
                                    <div ng-show="room.type == '其它'" flex="20" class="withBorderRdius roomTypeBottonOthers"><h5>{{room.type}}</h5></div>
                                    <div flex="20" style="font-size:16px;height:35px; padding-top:6px; margin-left:28px;"><p>{{room.price}}$</p></div>
                                    <div flex="20" style="font-size:16px;height:35px; padding-top:6px; text-align:center;"><p>{{name(room.priceType)}}</p></div>
                                </div>
                            </div>
                            <div layout="row">
                                <div flex="30">
                                    房间信息：
                                </div>
                                <div>
                                    <span>
                                        {{data.type}} 
                                    </span>
                                    <span ng-show="theRoom.bathroom">
                                        含独立卫生间
                                    </span>
                                    <span ng-show="!theRoom.bathroom">
                                        无独立卫生间
                                    </span>
                                    <br>
                                    <span ng-show="theRoom.walkInCloset">
                                        含衣帽间
                                    </span>
                                    <span ng-show="!theRoom.walkInCloset">
                                        无衣帽间
                                    </span>
                                    <span ng-show="theRoom.closet">
                                        含壁橱
                                    </span>
                                    <span ng-show="!theRoom.closet">
                                        无壁橱
                                    </span>
                                </div>
                            </div>
                            <div layout="row" style="margin-top:10px;">
                                <div flex="30">合约开始：</div>
                                <div><p>{{data.beginDate | date:"yyyy-MM-dd"}}</p></div>
                            </div>
                            <div layout="row">
                                <div flex="30">合约结束：</div>
                                <div><p>{{data.endDate | date:"yyyy-MM-dd"}}</p></div>
                            </div>
                        </div>
                        <div layout="row" class="withBorderRdius roomsBotton"  style="outline:none; background-color:rgb(71,175,150);padding-top:5px;padding-bottom:5px;border-radius:3px;color:#FFFFFF" ng-click="sendMessage()">
                            <div class="center-block" style="width:105px;">
                                <div style="background:url(/app/view/img/items/tele.png);background-size:cover;width:27px;height:27px;margin-top:0px;margin-right:5px;float:left"></div>
                                <h4 style="margin-top:5px;">即刻联系</h4>
                            </div>
                        </div>
                        
                         <div ng-hide="isFav" ng-click="addFav()" layout="row" class="withBorderRdius roomsBotton"  style="outline:none;border:1px rgb(169,169,169) solid; outline:none;padding-top:5px;padding-bottom:5px;border-radius:3px;color:black;">
                            <div class="center-block" style="width:105px;">
                                <div style="background:url(/app/view/img/profile/favorite1.png);background-size:100% 100%;width:27px;height:27px;margin-top:0px;margin-right:5px;float:left;"></div>
                                <p style="font-size:18px;" >添加收藏</p>
                            </div>
                        </div>
                        
                        <div ng-show="isFav" ng-click="delFav()" layout="row" class="withBorderRdius roomsBotton"  style="outline:none;border:1px rgb(169,169,169) solid; outline:none;padding-top:5px;padding-bottom:5px;border-radius:3px;color:black;">
                            <div class="center-block" style="width:105px;">
                                <div  style="background:url(/app/view/img/profile/favorite2.png);background-size:100% 100%;width:27px;height:27px;margin-top:0px;margin-right:5px;float:left;"></div>
                                <p style="font-size:18px;" >取消收藏</p>
                            </div>
                        </div>
                        
                        
                            </div>
                        </div>
                    </div>
                </div>
            <!--地图显示-->
        <div layout="row"  style="background-color:rgb(77,77,78); margin:0 0 53 0;padding:30 30 30 30;">
                <div flex="70" id="map-canvas" class="application" style="height:480px;"> </div>
                <div flex="30" layout="row">   
                    <div flex="25"></div>
                    <div flex layout="column" style="margin-top:100;">
                        <div style="color:white;">
                            <md-button aria-label="driving" class="md-icon-button md-raised"   ng-click="SetMethod('driving')" style="height:60px;width:60px;">
                                <md-icon md-svg-icon="/app/view/img/room/driving.svg"  style="height:50px;width:50px"></md-icon>
                            </md-button>
                          {{durations.driving}}
                        </div>
                        <div style="margin-top:20px;color:white;">
                            <md-button aria-label="bicycling" class="md-icon-button md-raised"  ng-click="SetMethod('bicycling')" style="height:60px;width:60px;">
                                <md-icon md-svg-icon="/app/view/img/room/bicycling.svg"  style="height:50px;width:50px"></md-icon>
                            </md-button>
                          {{durations.bicycling}}
                        </div>
                        <div style="margin-top:20px;color:white;">
                            <md-button aria-label="walking" class="md-icon-button md-raised"   ng-click="SetMethod('walking')" style="height:60px;width:60px;">
                                <md-icon md-svg-icon="/app/view/img/room/walking.svg"  style="height:50px;width:50px"></md-icon>
                            </md-button>
                          {{durations.walking}}
                        </div>
                    </div>
                </div>
                     </div>
    </div>
    <div footer></div>
</div>
        