<md-dialog>

<div layout="row" class="room_post" ng-controller="RoomPostController">
    <!--Begin of left side nav_bar-->
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" >
        <md-content role="navigation" class="md-default-theme">
            <ul class="docs-menu">
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(1)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    房源信息
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[0].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[0].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(2)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    房间信息
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[1].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[1].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(3)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    设施
                                </span>
                                <span flex></span>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(4)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    附加费用
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[3].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[3].filled'>check</i>
                             </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(5)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    描述
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[4].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[4].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(6)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    地址
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[5].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[5].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <li>
                    <menu-link class="ng-scope ng-isolate-scope" ng-click="setActivePage(7)">
                        <a class="md-button md-default-theme" tabindex="0">
                            <div layout="row" layout-align="center center">
                                <span class="ng-binding ng-scope">
                                    图片
                                </span>
                                <span flex></span>
                                <i class="nav_icon material-icons" ng-hide='tableFilled[6].filled'>add</i>
                                <i class="nav_icon material-icons" ng-show='tableFilled[6].filled'>check</i>
                            </div>
                        </a>
                    </menu-link>
                </li>
                <md-button class="md-primary" ng-click="hide()">关闭</md-button>
            </ul>
        </md-content>
    </md-sidenav>
    <!--End of side nav bar-->
    <md-dialog-content>
    <div layout="column" flex>
        <!--Begin of 房屋设施 Page-->
        <div ng-show="activePage == 1" class="room_post_listing_content">
            <div>
                <div layout="row">
                    <h4 class="text-muted">您的所有发布将不仅仅出现在您所属的学校信息页面中<br>还将出现在临近学校页面中</h4>
                </div>
            </div>
            <div>
                <hr class="room_post_hr">
            </div>
            <!--Begin of room information-->
            <div layout="column">
                <div>
                    <p class="room_post_font_content">房源信息</p>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="20">
                        <p class="room_post_font_content">户型</p>
                    </div>
                    <div flex="30" layout="row" layout-align="start end">
                        <div>
                            <md-select name="room_number" placeholder="" ng-model="numBedrooms" required class="rp_select">
                            <md-option value="0">Studio</md-option>
                            <md-option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</md-option>
                            <md-option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</md-option>
                            <md-option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</md-option>
                            <md-option value="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4</md-option>
                            </md-select>
                        </div>
                        <div>
                            <p ng-hide="isStudio" class="room_post_font_content">卧室</p>
                        </div>
                    </div>
                    <div flex="30" layout="row" ng-hide="isStudio">
                      <md-select name="bathroom_number" placeholder="" ng-model="numBathrooms" required class="rp_select">
                        <md-option value="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1</md-option>
                        <md-option value="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2</md-option>
                        <md-option value="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3</md-option>
                      </md-select>
                        <p class="room_post_font_content">卫生间</p>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content">
                    <div flex="20" layout-align="start end" layout="row">
                        <div>
                        <p class="room_post_font_content">入住时间</p>
                            </div>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <div>
                        <md-input-container class="room_post_input">
                          <input ng-model="steps[0].beginDate" type="date" name="invoiceDate"  aria-label="beginDate"/>
                        </md-input-container>
                            </div>
                        <div>
                        <i class="rp_icon material-icons">event_available</i>  
                        </div>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content">
                    <div flex="20" layout-align="start end" layout="row">
                        <div>
                        <p class="room_post_font_content">搬出时间</p>
                        </div>
                    </div>
                    <div flex="35" layout="row" layout-align="start end">
                        <div>
                        <md-input-container class="room_post_input">
                          <input ng-model="steps[0].endDate" type="date" name="invoiceDate" aria-label="endDate"/>
                        </md-input-container>
                            </div>
                        <div>
                        <i class="rp_icon material-icons">event_busy</i>  
                        </div>
                    </div>
                </div>
            </div>
            <!--End of room infomation-->
            
            
            
            <div class="room_post_div_content" layout="row" layout-align="space-between center" flex>
                <!--Begin of next step button-->
                <div></div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
                <!--End of next step button-->
            </div>
        </div>
        <!--End of 房屋设施 Page-->
        <div ng-show="activePage == 2" class="room_post_listing_content" >
            <div ng-repeat="room in steps[1].rooms" layout="column">
                <div class="room_post_div_content">
                    <p class="room_post_font_content">房间 {{$index+1}} ：</p>
                </div>
                <div layout="row" class="room_post_div_content">
                    <div flex="20">
                        <p class="room_post_font_content">房屋类型</p>
                    </div>
                    <div flex="25" layout="row">
                      <md-select name="room_type"  ng-model="room.type" required class="rp_select">
                        <md-option value="卧室">卧室</md-option>
                        <md-option value="客厅">客厅</md-option>
                        <md-option value="其它">其它</md-option>
                      </md-select>
                    </div>
                    <div flex="55">
                        <fieldset>
                            <div layout="row" layout-wrap>
                                <md-checkbox ng-model="room.bathroom" >
                                  <p class="room_post_font_content">独立卫生间</p>
                                </md-checkbox>
                                <md-checkbox md-no-ink ng-model="room.walkInCloset" >
                                  <p class="room_post_font_content">衣帽间</p>
                                </md-checkbox>
                                <md-checkbox ng-model="room.closet">
                                  <p class="room_post_font_content">壁橱</p>
                                </md-checkbox>
                            </div>
                        </fieldset>
                    </div>
                    <div ng-hide="steps[1].rooms.length == 1" flex layout="row">
                        <div>
                            <md-button ng-click="RemoveRoom(steps[1].rooms.indexOf(room))" class="md-icon-button">
                                <i class="rp_icon icon_delete material-icons">delete</i>
                            </md-button>
                         </div>
                    </div>
                </div>
                <div layout="row" class="room_post_div_content" layout-align="start end">
                    <div flex="20">
                        <p class="room_post_font_content">价格</p>
                    </div>
                    <div flex="20" layout="row" layout-align="start end">
                        <div>
                            <md-select name="rent_type" placeholder="" ng-model="room.share" required class="rp_select">
                            <md-option value="false">整租</md-option>
                            <md-option value="true">合租</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div flex="20" layout="row">
                        <p class="room_post_font_content">$</p>
                        <md-input-container class="room_post_input text_input">
                        <input required type="text" name="rate" ng-model="room.price" aria-label="price">
                        </md-input-container>
                    </div>
                    <div flex layout="row">
                        <md-select name="rent_time_m_d" ng-model="room.priceType" required class="rp_select">
                            <md-option value="month">每月</md-option>
                            <md-option value="day">每天</md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div class="room_post_div_content" layout="row" layout-align="space-between center" flex>
                <div>
                    <md-button ng-click="AddRoom()" class="md-raised">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="rp_icon material-icons">add</i>
                            </div>
                            <div>
                                添加房间
                            </div>
                        </div>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
        </div>
        
        <!--Begin of 设施 Page-->
        <div ng-show="activePage == 3" class="room_post_listing_content" >
            <!--Begin of 设施信息-->
            <div  flex>
                <!--Begin of 公寓设施-->
                <div layout="row">
                    <div flex="25" style="margin-top:15px;">
                        <p class="room_post_font_content">公寓设施</p>
                    </div>
                    <div class="md-padding room_post_div" layout="row">
                        <div layout="row" layout-wrap>
                            <div flex="50" ng-repeat="(key,value) in steps[2].facilities.apt"  layout-align="start center" layout="row">
                                <div>
                                    <md-checkbox class="rp_checkbox" ng-model="steps[2].facilities.apt[key]">
                                    <p class="room_post_font_content">{{name(key)}}</p>
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of 公寓设施-->
                <div>
                    <hr class="room_post_hr">
                </div>
                
                <!--Begin of 房间设施-->
                <div layout="row">
                    <div flex="25" >
                        <p class="room_post_font_content">房间设施</p>
                    </div>
                    <div class="md-padding room_post_div" layout="row">
                        <div layout="row" layout-wrap>
                            <div flex="50" ng-repeat="(key,value) in steps[2].facilities.room"  layout-align="start center" layout="row">
                                <div>
                                    <md-checkbox class="rp_checkbox" ng-model="steps[2].facilities.room[key]">
                                        <p class="room_post_font_content">{{name(key)}}</p>
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of 房间设施-->
                
            </div>
            <!--End of 设施信息-->
            <!--Begin of step buttons-->
            <div class="room_post_div_content" layout="row" layout-align="space-between center" flex>
                <div>
                    <md-button class="md-raised" ng-click="lastPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="material-icons">navigate_before</i>
                            </div>
                            <div>
                                上一步
                            </div>
                        </div>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
            <!--End of step buttons-->
        </div>
        <!--End of 设施 Page-->
        <!--Begin of 附加费用 Page-->
        <div ng-show="activePage == 4" class="room_post_listing_content" layout="column">
            <!--Begin of 具体附加费用-->
            <div layout="column">
                <div flex="5">
                    <p class="room_post_font_content">附加费用</p>
                    <br>
                </div>
                <div flex="5" layout="row" flex  ng-repeat="(key,value) in steps[3].fees">
                    <div flex="20" style="text-align:right;">
                        <p class="room_post_font_content">{{name(key)}}</p>
                    </div>
                    <div flex="10"></div>
                    <div layout="row" flex="50">
                        <p class="room_post_font_content">$</p>
                        <md-input-container class="room_post_input fees">
                        <input required type="number" name="fees" ng-model="steps[3].fees[key]" aria-label="fees">
                        </md-input-container>
                        <p class="room_post_font_content" style="color:red;">每人每月(需修改)</p>
                    </div>
                </div>
            </div>
            <!--End of 具体附加费用-->
            <!--Begin of step buttons-->
            <div class="room_post_div_content" layout="row" layout-align="space-between center">
                <div>
                    <md-button class="md-raised" ng-click="lastPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="material-icons">navigate_before</i>
                            </div>
                            <div>
                                上一步
                            </div>
                        </div>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
            <!--End of step buttons-->
        </div>
        <!--End of 附加费用 Page-->
        <!--Begin of 描述 Page-->
        <div ng-show="activePage == 5" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">标题：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">这将是其他用户看到的第一条信息</p>
                    </div>
                </div>
                <div class="room_post_div">
                    <md-input-container class="rp_title">
                    <input type="text" name="title" ng-model="steps[4].title" md-maxlength="35" aria-label="title">
                    </md-input-container>
                    <br>
                    <br>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="15">
                        <p class="room_post_font_content">描述：</p>
                    </div>
                    <div flex>
                        <p class="room_post_font_content">向其他用户介绍任何您需要补充的信息，如距学校距离、交通信息、周边、现有室友等。</p>
                    </div>
                </div>
                <div class="room_post_div">
                    <md-input-container flex>
                    <textarea ng-model="steps[4].description" columns="1" md-maxlength="300" aria-label="description"></textarea>
                    </md-input-container>
                </div>
            </div>
            <!--Begin of step buttons-->
            <div class="room_post_div_content" layout="row" layout-align="space-between center">
                <div>
                    <md-button class="md-raised" ng-click="lastPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="material-icons">navigate_before</i>
                            </div>
                            <div>
                                上一步
                            </div>
                        </div>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
            <!--End of step buttons-->
        </div>
        <!--End of 描述 Page-->
        <!--Begin of 地址页 Page-->
        <div ng-show="activePage == 6" class="room_post_listing_content" layout="column">
            <div layout="column">
                <div>
                    <p class="room_post_font_content">地址</p>
                </div>
                <div class="room_post_div" layout="row">
                    <div flex="10">
                    </div>
                    <div flex layout="column">
                        <div>
                        <md-button class="md-raised adr" ng-click="">
                            <div layout="row" layout-align="center center">
                                <div>
                                    <i class="material-icons">cloud_download</i>
                                </div>
                                <div>
                                    &nbsp;同个人资料一致
                                </div>
                            </div>
                        </md-button>
                        <input type="text" id="Autocomplete" class="form-control" ng-model="steps[5].address.full" ng-autocomplete="steps[5].address.full" details="details1" options="options1" style="text-align:left;"/>
                        <div ng-show="addressGot && addressCorrect">
                            <div layout="row">
                                <p class="room_post_font_content">Street Address</p>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addNum">
                                <input type="text" ng-model="addresses[0]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addAdd">
                                <input type="text" ng-model="addresses[1]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <p class="room_post_font_content">City</p>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addCity">
                                <input type="text" ng-model="addresses[2]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <p class="room_post_font_content">State</p>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addSta">
                                <input type="text" ng-model="addresses[3]" disabled="disabled"/>
                                </md-input-container>
                                <div flex="5"></div>
                                <p class="room_post_font_content">Zipcode</p>
                                <div flex="5"></div>
                                <md-input-container class="room_post_input addZip">
                                <input type="text" ng-model="addresses[4]" disabled="disabled"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div>
                           <p ng-hide="addressCorrect" class="room_post_font_content err">输入地址错误，请输入正确地址。</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Begin of step buttons-->
            <div class="room_post_div_content" layout="row" layout-align="space-between center">
                <div>
                    <md-button class="md-raised" ng-click="lastPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="material-icons">navigate_before</i>
                            </div>
                            <div>
                                上一步
                            </div>
                        </div>
                    </md-button>
                </div>
                <div>
                    <md-button class="md-raised" ng-click="nextPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                下一步
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
            <!--End of step buttons-->
        </div>
        <!--End of 地址页 Page-->
        <!--Begin of 图片页 Page-->
        <div ng-show="activePage == 7" class="room_post_listing_content" >
            <div layout="column" flex>
                <div>
                    <p class="room_post_font_content">图片</p>
                    <div ngf-drop ngf-select ng-model="files" class="drop-box"  ngf-keep="true" ngf-keep-distinct="true"
                        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                        accept="image/*">拖动您想要的照片进框中，或者点击以上传，可同时选择多张图片</div>
                    
                    
                    
                    
                    <div layout="column" ng-repeat="img in arrUploads"> 
                        <div ng-show="img.prog > 0">{{img.prog}}%</div>
                        <progress ng-show="img.prog > 0" value="{{img.prog/100}}">{{img.prog}}%</progress>
                        <div ng-show="img.prog==100">上传成功！</div>
                        <img style="width:300px;height:300px"  ng-src="{{img.content}}"/>
                        <div ng-click="img.cancel()">取消</div>
                    </div>
                    <div layout="column" ng-repeat="pic in steps[6].images">
                        <img style="width:300px;height:300px;"  ng-src="{{pic}}">
                        <p ng-click="removeImage(pic)">删除</p>
                    </div>
                </div>
            </div>
            <!--Begin of step buttons-->
            
            
            
            <div class="room_post_div_content" layout="row" layout-align="space-between center" flex>
                <div>
                    <md-button class="md-raised" ng-click="lastPage()">
                        <div layout="row" layout-align="center center">
                            <div>
                                <i class="material-icons">navigate_before</i>
                            </div>
                            <div>
                                上一步
                            </div>
                        </div>
                    </md-button>
                </div>
                <div  ng-show="canPost">
                    <md-button class="md-raised" ng-click="doPost()">
                        <div layout="row" layout-align="center center">
                            <div>
                                提交
                            </div>
                            <div>
                                <i class="material-icons">navigate_next</i>
                            </div>
                        </div>
                    </md-button>
                </div>
                <div ng-hide="canPost" style="content-float:left">
                    <p class="rp_font_steps">还剩&nbsp;</p>
                    <p class="rp_font_steps steps"><strong >{{sn}}</strong></p>
                    <p class="rp_font_steps">&nbsp;步骤未填写</p>
                </div>
            </div>
            <!--End of step buttons-->
        </div>
        <!--End of 图片页 Page-->
    
        
        </div>
</md-dialog-content>
</div>
</md-dialog>