<style>
/* CSS3 EFFECTS */

/* THIRD EFFECTS */


</style>
<div style="background-color:#FFFFFF;min-width:1000px" id="wrapper">
    <header ng-include="'app/view/partials/_header-one.html'"></header>
    <div id="content">
        <div top-bar></div>
        <div class="container" style="padding-top:27.7px;padding-bottom:27.7px;width:1000px">
            <div id="schoolmates_panel" class="row" style="overflow-y:scroll;margin-left:5px;margin-right:5px;">
                <div class="col-xs-3 col-sm-3" layout="column" ng-repeat="mate in schoolMates" style="padding:10px;min-height:140px;width:190px;">
                    <div ng-click="seeOthersProfile($index)" ng-style="{'background-image':'url('+mate.avatar+')'}" class="center-block mates_wrapper">
                        <div class="mask">
                            <a href="#" class="info" style="color:rgba(255,255,255,.85);font-size:20px">联系</a>
                        </div>
                    </div>

                    <div style="text-align:center">{{mate.enrollYear}}</div>
                    <div style="text-align:center">{{mate.username}}</div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div footer></div>
    </div>
</div>

<script>
    $('#schoolmates_panel').slimScroll({
        height: '250px'
    });
</script>


