<html ng-app="hereseasApp" style="min-width:1000px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>hereseas</title>

    <link rel='stylesheet' href='/app/view/css/ngGallery.css'>
    <link rel='stylesheet' href='/app/view/css/screen.css'>
    <link rel='stylesheet' href='/public/libs/angular-material/angular-material.css'>
    <link rel='stylesheet' href='/public/libs/angular-loading-bar/loading-bar.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <link  href="/public/libs/ui-select/select.css" rel="stylesheet">

    <!-- OneUI CSS framework -->
    <link rel="stylesheet" id="css-main" href="/public/assets/css/oneui.css">

    <!-- Libraries -->
    
    <link rel="stylesheet" href="/public/libs/select2/select2.css">
    <link rel="stylesheet" href="app/view/css/main.css">
    <link rel="stylesheet" href="app/view/css/bootstrap-social.css">

    <link rel="shortcut icon" type="image/x-icon" href="app/view/logo/logo_orange_p(240_92_80).png" media="screen"/>

    <!-- angular -->
    <script type="text/javascript" src="/public/libs/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/public/libs/select2/select2.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-aria.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-messages.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-local-storage.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-loader-partial.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-storage-cookie.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-storage-local.js"></script>
    <script type="text/javascript" src="/public/libs/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/public/libs/angular-loading-bar/loading-bar.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/public/libs/ui-bootstrap/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script type="text/javascript" src="/public/libs/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/public/libs/ng-file-upload/ng-file-upload-shim.js"></script>
    <!--<script type="text/javascript" src="/public/libs/ui-select/select.js"></script>-->
    
    <!-- bootstramp -->
    <link href="public/assets/css/bootstrap.min.css" rel="stylesheet">

    <!--<script type="text/javascript" src="/public/libs/angular/angular.js"></script>-->
    <script type="text/javascript" src="/public/libs/angular-ui-select2/src/select2.js"></script>

    <script type="text/javascript" src="/app/hereseas.js"></script>
    <script type="text/javascript" src="/app/common/languages.js"></script>
    
    
    <script type="text/javascript" src="/app/ngGallery.js"></script>
    <script src="http://connect.qq.com/widget/loader/loader.js" widget="shareqq" charset="utf-8"></script>


    <!-- Controllers -->
    <script type="text/javascript" src="/app/service/commonService.js"></script>
    <script type="text/javascript" src="/app/service/directives.js"></script>
    <script type="text/javascript" src="/app/service/userService.js"></script>
    <script type="text/javascript" src="/app/service/roomService.js"></script>
    <script type="text/javascript" src="/app/controller/appCtrl.js"></script>
    <script type="text/javascript" src="/app/controller/profileController.js"></script>
    <script type="text/javascript" src="/app/controller/homeController.js"></script>
    <script type="text/javascript" src="/app/controller/roomController.js"></script>
    <script type="text/javascript" src="/app/controller/schoolController.js"></script>
    <script type="text/javascript" src="/app/controller/itemsController.js"></script>
    <script type="text/javascript" src="/app/controller/carsController.js"></script>
    <script type="text/javascript" src="/app/controller/activsController.js"></script>
    <script type="text/javascript" src="/app/controller/headerController.js"></script>
    <script type="text/javascript" src="/app/controller/verifyController.js"></script>
    <script type="text/javascript" src="/app/controller/forumController.js"></script>
    <script type="text/javascript" src="/app/controller/errorController.js"></script>
    <script type="text/javascript" src="/app/controller/accountCtrl.js"></script>
    <script type="text/javascript" src="/app/controller/resetController.js"></script>
    <script type="text/javascript" src="/app/controller/messageController.js"></script>
    <script type="text/javascript" src="/app/controller/adminController.js"></script>


    <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
    <script src="/public/assets/js/core/jquery.min.js"></script>
    <script src="/public/assets/js/core/bootstrap.min.js"></script>
    <script src="/public/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="/public/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="/public/assets/js/core/jquery.appear.min.js"></script>
    <script src="/public/assets/js/core/jquery.countTo.min.js"></script>
    <script src="/public/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="/public/assets/js/core/js.cookie.min.js"></script>

    <script src="/public/assets/js/typeahead.min.js"></script>

    <script src='/app/lodash.js'></script>
    <script src='/app/angular-google-maps.js'></script>
    <script src='//maps.googleapis.com/maps/api/js?libraries=places'></script>
    <script src='/public/assets/js/markerwithlabel.js'></script>
    <script src='/public/assets/js/angular-date-picker-master/angular-date-picker.js'></script>
    <link rel="stylesheet" href="/public/assets/js/angular-date-picker-master/angular-date-picker.css">
    
    <!--slider for price-->
    <link href="/public/assets/css/bootstrap-slider.css" rel="stylesheet">
    <script type='text/javascript' src="/public/assets/js/bootstrap-slider.js"></script>
    <script type='text/javascript' src="/public/assets/js/modernizr.js"></script>
    
    <!--text editor-->  
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular-sanitize.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.1/textAngular.min.js'></script>
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-selectionsaverestore.js"></script>

</head> 
<body>
    <div ui-view autoscroll="true"></div>
</body>
</html>
