<!--
<div layout="row" flex layout-padding layout-fill layout-align="center center">
    <div flex="40" flex-lg="50" flex-md="70" flex-sm="100">
        <md-card>
            <md-toolbar>
                <div class="padding-20 text-center">
                    <div>
                        <img src="assets/images/logo.png" alt="{{appName}}">
                    </div>
                    <h1 class="md-headline">
                        {{'LOGIN.TITLE' | translate}}
                    </h1>
                </div>
            </md-toolbar>


            <md-content class="md-padding">
                <form name="login">

                    <md-input-container>
                        <label for="email">{{'LOGIN.EMAIL.LABEL' | translate}}</label>
                        <input id="email" label="email" name="email" type="email" ng-model="user.email" required/>
                        <div ng-messages="login.email.$error">
                            <div ng-message when="required">
                                {{'LOGIN.EMAIL.PLEASE_ENTER' | translate}}
                            </div>
                            <div ng-message when="email">
                                {{'LOGIN.EMAIL.PLEASE_VALID' | translate}}
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label for="password">{{'LOGIN.PASSWORD.LABEL' | translate}}</label>
                        <input id="password" label="password" name="password" type="password" ng-model="user.password" required/>
                        <div ng-messages for="login.password.$error">
                            <div ng-message when="required">
                                {{'LOGIN.PASSWORD.PLEASE_ENTER' | translate}}
                            </div>
                        </div>
                    </md-input-container>

                    <div layout="row" layout-align="space-between center">

                        <md-input-container>
                            <md-checkbox ng-model="user.rememberMe">
                                {{'LOGIN.REMEMBER' | translate}}
                            </md-checkbox>
                        </md-input-container>

                        <md-input-container>
                            <md-button flex class="md-primary" href="#/forgot">{{'LOGIN.FORGOT' | translate}}</md-button>
                        </md-input-container>

                    </div>


                    <md-button class="md-raised md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" ng-click="loginClick()" ng-disabled="login.$invalid">{{'LOGIN.BUTTON' | translate}}</md-button>



                    <md-button class="md-primary full-width margin-left-0 margin-right-0 margin-top-10 margin-bottom-10" href="#/signup">{{'LOGIN.SIGNUP_LINK' | translate}}</md-button>



                    <div class="social-login">
                        <md-divider></md-divider>

                        <div class="text-center margin-20">
                            {{'LOGIN.SOCIAL.OR' | translate}}
                        </div>

                        <div layout="row" layout-align="space-between center" layout-margin>
                            <md-button ng-repeat="social in socialLogins" class="md-icon-button" ng-style="{ 'background-color': social.color }" aria-label="{{'LOGIN.SOCIAL.OR' | translate}} {{social.icon}}">
                                <i class="fa" ng-class="social.icon"></i>
                            </md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </md-card>
    </div>
</div>

-->
<!--script src="/public/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script-->
<!-- Login Content -->
<md-dialog flex="60">
<div >
    <div class="row">
        <div >
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a href="base_pages_reminder.html">Forgot Password?</a>
                        </li>
                        <li>
                            <a href="" ng-click="goSignup()" data-toggle="tooltip" data-placement="left" title="New Account"><i class="si si-plus"></i></a>
                        </li>
                        <li>
                            <a href="" ng-click="hide()" data-toggle="tooltip" data-placement="left" title="">关闭</a>
                        </li>
                    </ul>
                    <h3 class="block-title">Login</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">Hereseas</h1>
                    <p>Welcome, please login.</p>
                    <!-- END Login Title -->

                    <!-- Login Form -->
                    <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                    <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                    <form class="js-validation-login form-horizontal push-30-t push-50" ng-submit="loginClick()">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="email" ng-model="user.email" id="login-username" name="login-username">
                                    <label for="login-username">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="password" id="login-password"  ng-model="user.password" name="login-password">
                                    <label for="login-password">Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" ng-model="user.save" id="login-remember-me" name="login-remember-me"><span></span> Remember Me?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <button class="btn btn-block btn-primary" type="submit"><i class="si si-login pull-right"></i> Log in</button>
                            </div>
                        </div>
                    </form>
                    <!-- END Login Form -->
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>
<!-- END Login Content -->

</md-dialog>
