<div style="background-color:rgb(248,248,249);">
   
    <div layout="column">
        <div layout="row" style="margin:53 53 53 53;">
            <!--信息区-->
            <div flex layout="column">
                <!--房屋展示图-->
                <div flex layout="row" >
                    <div flex style="height:507px;background-repeat:no-repeat; background-size:cover; " ng-style="{'background-image':'url('+cover+')'}">
                    </div>
                    <div style="padding-right:50px; border-right:1px solid black;">
                    </div>
                </div>
                
                <div style="margin-right:53px;">
                <!--发布者信息-->
                
                <div layout="row" style="padding-top:20px; padding-bottom:20px;">
                    <div>
                        <img class="md-whiteframe-z1" ng-src="{{data.userAvatar}}" style="border-radius:50%; weight:100px;height:100px; border:1px solid rgb(220,224,224);"/>
                    </div>
                    <div layout="row" style="padding-left:30px; padding-top:40px;">
                        <div>{{data.userFirstName}} {{data.userLastName}}</div>
                        <div style="margin-right:50px;margin-left:50px;">|</div>
                        <div>{{schoolName}}</div>        
                    </div>
                </div>
              
                <!--画线-->
                <div >
                            <hr style="margin:5px 5px 5px 5px;border:0;border-top:1px solid #333333;">
                        </div>
                <!--公寓信息-->
                <div class="md-padding" layout="row">
                                <div flex="33">
                                        <h3 class="hs_subtitle">公寓信息</h3>
                                    </div>
                                <div flex="66" layout="row" layout-wrap>
                                    <div flex="50" ng-show="apt_facility.value" ng-repeat="apt_facility in apt_facilities">
                                        <div layout="row" style="margin-bottom:10px;height:40px;">
                                            <div flex="10" ng-style="{'background-image':'url({{aptIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                            <div flex="10" ></div>
                                            <div flex="80">{{name(apt_facility.name)}}</div>
                                        </div>
                                    </div>
                                    <div flex="50" ng-show="!apt_facility.value && show_all_apt" ng-repeat="apt_facility in apt_facilities">
                                        <div layout="row" style="margin-bottom:10px;height:40px;">
                                            <div flex="10" ng-style="{'background-image':'url({{aptIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                            <div flex="10" ></div>
                                            <div flex="80"><del>{{name(apt_facility.name)}}</del></div>
                                        </div>
                                    </div>
                                    <a style="color:#E95743;" my-blur="show_all_apt" href="" ng-show="!has_all_facilities()" data-ng-click="ShowAllApt()">
                                            <strong ng-show="!show_all_apt">+ More</strong>
                                    </a>
                                </div>
                            </div>
                <!--画线-->
                <div >
                            <hr style="margin:5px 5px 5px 5px;border:0;border-top:1px solid #333333;">
                        </div>
                <!--房间信息-->
                <div class="md-padding" layout="row">
                                <div flex="33">
                                        <h3 class="hs_subtitle" ng-click="ShowAllApt()">房间信息</h3>
                                </div>
                                <div flex="66" layout="row" layout-wrap>
                                    <div flex="50" ng-show="room_facility.value" ng-repeat="room_facility in room_facilities">
                                        <div layout="row" style="margin-bottom:10px;height:40px;">
                                            <div flex="10" ng-style="{'background-image':'url({{roomIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                            <div flex="10" ></div>
                                            <div flex="80">{{name(room_facility.name)}}</div>
                                        </div>
                                        </div>
                                        <div flex="50" ng-show="!room_facility.value && show_all_room" ng-repeat="room_facility in room_facilities">
                                            <div layout="row" style="margin-bottom:10px;height:40px;">
                                                <div flex="10" ng-style="{'background-image':'url({{roomIcons[$index]}})'}" style=" background-size:100%;background-repeat:no-repeat;"></div>
                                                <div flex="10" ></div>
                                                <div flex="80"><del>{{name(room_facility.name)}}</del></div>
                                            </div>
                                        </div>
                                         <a style="color:#E95743;" my-blur="show_all_room" href="" ng-show="!has_all_room_facilities()" ng-click="ShowAllRoom()">
                                            <strong ng-show="!show_all_room">+ More</strong>
                                        </a>
                                </div>
                            </div>
                <!--画线-->
                <div >
                            <hr style="margin:5px 5px 5px 5px; border:0;border-top:1px solid #333333;">
                        </div>
                <!--相关费用-->
                <div class="md-padding" layout="row">
                                <div flex="33">
                                    <h3 class="hs_subtitle">相关费用</h3>
                                </div>
                                <div flex="66" layout="row" layout-wrap >
                                    <div style="margin-bottom:10px;height:40px;" flex="50" ng-show="!fee.price == 0" ng-repeat="fee in fees">
                                        <div >
                                            {{name(fee.name)}} &nbsp; {{fee.price}} $
                                        </div>
                                    </div>
                                    <div style="margin-bottom:10px;height:40px;" flex="50" ng-show="fee.price == 0 && show_all_fees" ng-repeat="fee in fees">
                                        <div >
                                            <del>{{name(fee.name)}} {{fee.price}}<del>
                                        </div>
                                    </div>
                                        <a  style="color:#E95743;" my-blur="show_all_fees" href="" ng-show="!has_all_fees()" ng-click="ShowAllFees()" flex-end>
                                            <strong ng-show="!show_all_fees">+ More</strong>
                                        </a>
                                </div>
                            </div> 
                <!--画线-->
                <div >
                    <hr style="margin:5px 5px 5px 5px; border:0;border-top:1px solid #333333;">
                </div>
                <!--信息描述-->
                <div class="md-padding"  layout="row">
                    <div flex="33">
                        <h3 class="hs_subtitle">信息描述</h3>
                    </div>
                    <div flex="66">
                        <p>{{data.description}}</p>
                    </div>
                </div>       
                <!--图片信息-->
                <div class="md-padding" layout="column" > 
                            <div ng-show="!(images.length ==2)">
                                <a href="#">
                                <div style="height:250px;width:580px; margin-bottom:2px; background-size:cover; " ng-style="{'background-image':'url('+images[0]+')'} "></div>
                                </a>
                            </div>
                            <div ng-show="!(images.length ==1)" layout="row">
                                <a href="#">
                                <div style="height:165px;width:289px; margin-right:2px;background-size:cover; " ng-style="{'background-image':'url('+images[1]+')'} "></div>
                                </a>
                                <a href="#">
                                <div style="height:165px;width:289px;background-size:cover; " ng-style="{'background-image':'url('+images[2]+')'} "></div>
                                </a>
                            </div>
                        </div>
                 
                </div>
                    
            </div>
            <!--滚动条-->
            <div id="navs" flex="30" style="padding-left:50px;">
                <!--房屋信息以及买卖-->         
                <div layout="column"  >
                    <div id="nav" layout="column">
                            <h3 class="text-center hs_subtitle">{{data.title}}</h3>
                            <p class="text-center">{{data.address.street+',  '+data.address.city+', '+data.address.state+', '+data.address.zipcode}}</p>
                            <p class="text-center"> 户型 {{data.type}}</p>
                            <p class="text-center">入住日期：</p>
                            <p class="text-center">租期截止：</p>

                            <div class="text-center">
                                <md-button class="md-raised md-primary" style="background-color:rgb(240,113,115);">即刻联系</md-button>
                                <md-button class="md-raised md-primary" style="background-color:rgb(88,194,210);">预订</md-button>
                            </div>
                        </div>
                </div>
                <div class="md-padding md-whiteframe-z1"  style="background-color:rgb(255,255,255); margin-top:25px;margin-left:8px; margin-right:5px;">  
                    <select ng-show="rooms.length > 1" ng-model="theRoom" ng-options="room.type for room in rooms"></select>    
                    <div>   
                                    <p title="hahahahahah" >卫生间 {{theRoom.bathroom}}</p>
                                    <p>衣帽间 {{theRoom.walkInCloset}}</p>
                                    <p>壁橱 {{theRoom.closet}}</p>
                                    <p>价格 {{theRoom.price}}</p>
                </div>
            </div>
            </div>
        </div>
                
                    
        <!--地图显示-->
        <div layout="row"  style="background-color:rgb(77,77,78); margin:0 53 53 53;padding:30 30 30 30;">
            <div flex="70" id="map-canvas" class="application" style="height:480px;"> </div>
            <div flex="30" layout="row">   
                <div flex="35"></div>
                <div flex="50" layout="column" style="margin-top:100;">
                    <div style="color:white;">
                        <md-button  class="md-icon-button md-raised"   ng-click="SetMethod('driving')" style="height:60px;width:60px;">
                            <md-icon md-svg-icon="/app/view/img/room/driving.svg"  style="height:50px;width:50px"></md-icon>
                        </md-button>
                      {{durations.driving}}
                    </div>
                    <div style="margin-top:20px;color:white;">
                        <md-button  class="md-icon-button md-raised"  ng-click="SetMethod('bicycling')" style="height:60px;width:60px;">
                            <md-icon md-svg-icon="/app/view/img/room/bicycling.svg"  style="height:50px;width:50px"></md-icon>
                        </md-button>
                      {{durations.bicycling}}
                    </div>
                    <div style="margin-top:20px;color:white;">
                        <md-button  class="md-icon-button md-raised"   ng-click="SetMethod('walking')" style="height:60px;width:60px;">
                            <md-icon md-svg-icon="/app/view/img/room/walking.svg"  style="height:50px;width:50px"></md-icon>
                        </md-button>
                      {{durations.walking}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>