<div>		
    
    <a href="#/rooms/{{aptId1}}" >
        <span style="font-weight:100; font-family: 'KaiTi'; font-size: 30px;  color: #000000">公寓1            </span>
    </a>
    <a href="#/rooms/{{aptId2}}" >
        <span style="font-weight:100; font-family: 'KaiTi'; font-size: 30px;  color: #000000">公寓2            </span>
    </a>
    <a href="#/rooms/{{aptId2}}" >
        <span style="font-weight:100; font-family: 'KaiTi'; font-size: 30px;  color: #000000">公寓3            </span>
    </a>
</div>