
<div class="ft" style="min-width:1000px;height:200px;"> 
    <div class="container" style="width:1000px" layout="row">
        <div flex="20" layout="column" class="footer_div select">
            <div>
            <select class="footer_select">
                <option value="1">中文简体</option>
                <option value="2">English</option>
            </select>
            </div>
            <div class="slct_div">
            <select class="footer_select">
                <option value="1">USD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</option>
                <option value="2">人民币 ￥</option>
            </select>
            </div>
            <div class="slct_div">
            <select class="footer_select">
                <option value="1">公制&nbsp;&nbsp;&nbsp;&nbsp;米</option>
                <option value="2">英制&nbsp;&nbsp;&nbsp;&nbsp;尺</option>
            </select>
            </div>
        </div>
        <div flex="10"></div>
        <div flex layout="column" class="footer_div">
            <div flex layout="row" style="margin-top:10px;">
                <div>
                    <a src="#" href="#/about">
                    <img src="/app/view/img/footer/aboutUs.png" class="footer_img" />
                    <h4 class="footer_font">&nbsp;&nbsp;关于我们</h4>
                    </a>
                </div>
                <div style="margin-left:117px;">
                    <a src="#" href="mailto:hereseas@gmail.com">
                    <img src="/app/view/img/footer/contactUs.png" class="footer_img"/>
                    <h4 class="footer_font">&nbsp;&nbsp;联系我们</h4>
                    </a>
                </div >
                <div style="margin-left:137px;" class="dropup wechat_div">
                    <a data-toggle="dropdown" class="dropdown-toggle">
                    <img src="/app/view/img/footer/findMore.png" class="footer_img" />
                    <h4 class="footer_font">&nbsp;&nbsp;关注我们</h4>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="wechat_li">
                            <a href="#">hearseas公共账号</a>
                        </li>
                        <li class="divider"></li>
                        <li class="wechat_li">
                            <img src="/app/view/img/footer/hearseas_wechat.jpg" class="ft_wchat center-block">
                        </li>
                    </ul>
                </div>
            </div>
            <div flex class="footer_content hr" style="margin-top:10px;" >
                <hr>
            </div>
            <div class="footer_content logos" style="margin-top:10px;">
                <h5 class="footer_font">hereseas.inc 2015</h5>
            </div>
        </div>
        <div flex="5"></div>
    </div>
</div>