
<div class="ft" style="min-width:1000px;height:80px;"> 
    <div class="container" style="width:1000px" layout="row">
        <!--
        <div flex="20" layout="column" class="footer_div select">
            <div>
            <select class="footer_select">
                <option value="1">中文简体</option>
                <option value="2">English</option>
            </select>
            </div>
            <div class="slct_div">
            <select class="footer_select">
                <option value="1">USD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$</option>
                <option value="2">人民币 ￥</option>
            </select>
            </div>
            <div class="slct_div">
            <select class="footer_select">
                <option value="1">公制&nbsp;&nbsp;&nbsp;&nbsp;米</option>
                <option value="2">英制&nbsp;&nbsp;&nbsp;&nbsp;尺</option>
            </select>
            </div>
        </div>
        -->
        <div flex="20" class="footer_div">
            <a src="#" href="#/about">
            <img src="/app/view/img/footer/aboutUs.png" class="footer_img" />
            <h4 class="footer_font">&nbsp;&nbsp;关于我们</h4>
            </a>
        </div>
        <div flex="20" class="footer_div">
            <a src="#" href="mailto:hereseas@gmail.com">
            <img src="/app/view/img/footer/contactUs.png" class="footer_img"/>
            <h4 class="footer_font">&nbsp;&nbsp;联系我们</h4>
            </a>
        </div>
        <div flex="20" class="dropup footer_div">
             <a data-toggle="dropdown" class="dropdown-toggle">
             <img src="/app/view/img/footer/findMore.png" class="footer_img" />
             <h4 class="footer_font">&nbsp;&nbsp;关注我们</h4>
             </a>
             <ul class="dropdown-menu">
              <li class="wechat_li" style="text-align:center;">
                <a href="#">hereseas微信公众号</a>
            </li>
                <li class="divider"></li>
                    <li class="wechat_li">
                        <img src="/app/view/img/footer/hearseas_wechat.jpg" class="ft_wchat center-block">
                    </li>
            </ul>
        </div>
        <div flex="40" class="footer_div logos" style="margin-top:35px; text-align:end;">
            <h5 class="footer_font">hereseas.inc 2015</h5>
        </div>
    </div>
</div>