<div class="container" style="width:1000px;">
    <div layout="row">
        <div style="padding-left:0;padding-right:20.5px;margin-right:13.53px;border-right:2px solid #EEEEED;">
            <img class="img-thumbnail" style="outline:none; width:167px;height:150px" src="/app/view/img/topBar/cover.png" ng-click="showAll(0)"/>
        </div>
        <div class="top-bar-img top_bar">
            <md-button ng-click="showAll(1)" class="md-icon-button" style="margin-left:0;margin-right:0;width:90px;height:90px;background-image:url(/app/view/img/topBar/apartments.svg)">
                <span style="font-size:24px;color:#EA5743">找房</span>
                <!--<span class="badge center-block" style="font-size:10px;position:absolute;top:65px;width:100px;background-color:inherit;color:#A19F9B">4条新消息</span>-->
            </md-button>
        </div>
        <div class="top-bar-img top_bar">
            <md-button ng-click="showAll(2)" class="md-icon-button" style="margin-left:0;margin-right:0;width:90px;height:90px;background-image:url(/app/view/img/topBar/cars.svg)">
                <span style="font-size:24px;color:#EA5743">寻车</span>
                <!--<span class="badge center-block" style="font-size:10px;position:absolute;top:65px;width:100px;background-color:inherit;color:#A19F9B">3条新消息</span>-->
            </md-button>
        </div>
        <div class="top-bar-img top_bar">
            <md-button ng-click="showAll(3)" class="md-icon-button" style="margin-left:0;margin-right:0;width:90px;height:90px;background-image:url(/app/view/img/topBar/goods.svg)">
                <span style="font-size:24px;color:#EA5743">淘货</span>
                <!--<span class="badge center-block" style="font-size:10px;position:absolute;top:65px;width:100px;background-color:inherit;color:#A19F9B">46条新消息</span>-->
            </md-button>
        </div>
        <div class="top-bar-img top_bar">
            <md-button ng-click="showAll(4)" class="md-icon-button" style="margin-left:0;margin-right:0;width:90px;height:90px;background-image:url(/app/view/img/topBar/actitivies.svg)">
                <span style="font-size:24px;color:#EA5743">活动</span>
                <!--<span class="badge center-block" style="font-size:10px;position:absolute;top:65px;width:100px;background-color:inherit;color:#A19F9B">16条新消息</span>-->
            </md-button>
        </div>
        <div class="top-bar-img top_bar">
            <md-button ng-click="showAll(6)" class="md-icon-button" style="margin-left:0;margin-right:0;width:90px;height:90px;background-image:url(/app/view/img/topBar/life.svg)">
                <span style="font-size:24px;color:#EA5743">论坛</span>
                <!--<span class="badge center-block" style="font-size:10px;position:absolute;top:65px;width:100px;background-color:inherit;color:#A19F9B">1条新消息</span>-->
            </md-button>
        </div>
    </div>
</div>