<md-toolbar style="background-color: #EEEEED;">
    <div class="md-toolbar-tools" layout="row">


        <md-icon md-svg-icon="/app/view/img/header/hereseas.svg" style="height:50;width:140px;margin-left:0px;"></md-icon>

        <div id="abcd" style="margin-left:50px;" style="background-color: #FFFFFF;" layout="row">
            <md-icon md-svg-icon="/app/view/img/header/search.svg" style="margin-left:6px;border-right:2px solid #EEEEED"></md-icon>
            <input class="form-control" type="text" placeholder="寻找你的大学" style="text-align:left;border-top:0px;border-left:0px;border-right:0px;border-bottom:0px;"></input>
        </div>
        <span flex></span>


        <md-button ng-hide="logged()" class="md-icon-button" style="color : black;" ng-click="showSignup()">注册</md-button>

        <md-button ng-hide="logged()" class="md-icon-button" style="color : black;" ng-click="showLogin()">登录</md-button>
        <md-button ng-show="logged()"  style="color : black;" ng-click="logOut()">退出</md-button>
        <md-button  class="md-icon-button" style="color : black;">帮助</md-button>
        <md-button  class="md-icon-button" >
            <md-icon md-svg-icon="/app/view/img/header/msg.svg"  style="color: black;"></md-icon>
        </md-button>
        <div > 

            <md-button  style="color : white;background-color: #62B5DB;" ng-click="showRoompost()">发布你的</md-button>   
        </div>
    </div>
</md-toolbar>


