
.angular-google-map-container { height: 600px; }
#map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#abcd{
    background-color : #FFFFFF;
}

md-sidenav.md-locked-open{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.docs-menu, .docs-menu ul{
    list-style: none;
    padding: 0px;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.site-sidenav {
  background: #EA5743;
}

.site-sidenav md-content {
  background: transparent;
}

.text-muted{
    color: #82888a;
}

md-select{
    padding: 0px;
}



<!--自建CSS-->
.nav_icon{
    padding-top: 8px;
    height: 24px;
}

.room_post_listing_content{
    background-color: #fff;
    padding: 40px 40px 80px 40px;
    float: none;
    width: 700px;
    height: 900px;
}

.room_post_hr{
    max-width: 550px;
    margin-left: 0px;
}

.room_post_div_content{
    margin-top: 20px;
    margin-bottom: 0px;
    max-width: 530px;
    min-width: 530px;
    height: 30px;
}

.room_post_div{
    max-width: 530px;
    min-width: 530px;
}

.room_post_font_content{
    font-size: 18px;
    margin: 0px;
}
.room_post_input{
    padding: 0px;
    width: 135px;
    margin-bottom: 0px;
}

.room_post_input.text_input{
    width:80px;
}

.room_post_input.fees{
    width:160px;
}
.room_post_input.title{
    width:100%;
}

.rp_icon.icon_delete{
    color: orangered;
}


.rp_select{
    width: 80px;
}

.rp_checkbox{
    margin: 0px;
}
<!--基础CSS-->
body{
}

input{
    text-align: center;
}

.hs_subtitle{
    font-family: Hiragino Sans GB;
    font-size:20px;
    color:black;
}



a:focus {
    outline: none;
}