#wrapper {
	min-height:100%;
    min-width: 1000px;
	position:relative;
}
#header {
	padding:10px;
}
#content {
	padding-bottom:80px; /* Height of the footer element */
}
#footer {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
#post_wrapper{
	min-height:90%;
	position:relative;
}
#post_content {
	padding-bottom:55px; /* Height of the footer element */
}
#apost_content {
	padding-bottom:80px; /* Height of the footer element */
}
#post_ft{
    position:absolute;
	bottom:15px;
    right:0;
}

.mates_wrapper{  
    width:80px;
    height:80px;
    background-color: inherit;
    background-size:cover;
    border-radius:50%;
    overflow:hidden;
}
.mates_wrapper.other{  
    height: 120px;
    width: 120px;
}
.mates_wrapper.school{
    margin-left:8px;
    margin-right:8px;
    width:59.73px;
    height:59.73px;
}
.mates_wrapper.small{
    height:52px;
    width:52px;
    border:2px solid white;
    margin-right:10px;
}
.mates_wrapper.head{
    height:130px;
    width:130px;
    margin-top:20px;
    margin-left:20px;
}
.mask{
    border-radius:50%;
    background:rgba(0,0,0,.5);
    text-align:center;
    opacity:0;
    padding:26px 0 26px 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.mates_wrapper:hover .mask {
    border-radius:50%;
    opacity:1;
}

.top_bar{
    padding-left:6%;
    padding-right:7px;
    padding-top:30px;
}

a.school{
    z-index: 1;
    padding-bottom: 100%;
    display: block;
    background-size: cover; 
    position: relative;
    height:344px;
    width:314px;
}
.school_name{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    position: absolute;
    bottom: 45%;
    left: 0%;
    right: 0%;
}
/* search bar*/

/* end of search bar*/
/*--begin of home page--*/
.nav-li{
    font-size: 20px;    
}

.head-line{
    padding-left: 20px;
    padding-right: 20px;
}

.sub-title{
    width:200px;
    height:50px;
    text-align: center;
    margin-top:20px;
}

.text-uppercase {
    text-transform: uppercase;
}

.search-area{
    text-align: center;
    color: #fff;
    width: 480px;
    height: 240px;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -240px;
    margin-top: -120px;
    padding-top: 50px;
    z-index:1;
}

.search-univer {
    max-width: 440px;
    position: relative;
    margin: 30px auto;
    text-align: center;
}
/*--end of home page--*/

/*--begin of 2.5 & favorite--*/
.half_li{
    width:160px; 
    height:120px;
    padding-top:15px; 
    padding-bottom: 0px; 
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}
a.half_pic{
    width:160px; 
    height:120px;
    z-index: 1;
    display: block;
    background-size: cover; 
    position: relative;
    width: 100%;
}
.half_fav{
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 135px;
    left: 20px;
    display: inline-block;
    max-width: 100%;
}
.half_price{
    width: 70px;
    height: 31px;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 20px;
    right: 0px;
}
.half_user_pic{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -25px;
    left: 20px;
    border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    border: 2px solid #dddddd;
}
.half_type{
    margin-top:auto;
    margin-bottom:0;
    float:right;
}
/*--end of 2.5 & favorite--*/

/*--begin of login singup--*/
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
}
.login_err{
    background-color: #f2dede;
    padding: 10px;
    color:#a94442;
    height: 40px;
    line-height: 20px;
}


.sign_form_row{
    width: 90%;
    margin: 15px 50px 5px 21px;
    border-radius:3px;
}
.accountForm{
    color:rgb(121,122,118);
}

.sign_log_botton{
    height: 44px;
    color: white;
    text-align: center;
}

.sign_form_row input{
    background-color: rgb(230,230,230);
    border-radius:3px;
}

.sl_font{
    margin-top: 10px;
    margin-bottom: 10px;
    color: RGB(121,122,118);
    outline: none;
}

.sl_font.sign{
    margin-left: 20%;
    outline: none;
}

.sl_font.sign.a:hover{
    color: RGB(121,122,118);
}

.sl_err{
    color: red;
    margin: 10px 0px -10px 20px;
}

a, h4{ 
    color: #ff7f24;
    text-decoration: none;
}

/*--end of login singup--*/

/*--begin of rooms--*/

.hs_frame{
    background-color: white;
    border: 1px solid;
    border-color: rgb(196, 196, 196);
}

.rp_logo_pic{
    background-image:url(/app/view/logo/logo_white_p.png);
    background-size:cover;
    position:absolute;
    left:10px;
    bottom:10px;
    width:46px;
    height:46px;
}

.rp_logo_word{
    background-image:url(/app/view/logo/logo_white_w.png);
    background-size:100% auto;
    position:absolute;
    left:67px;
    bottom:26px;
    width:80px;
    height:14px;
}

.roomsBotton{
    margin-top: 15px;
    height: 38px;
    text-align: center;
    color: white;
}

.rp_next_btn{
    background-image:url(/app/view/img/icon/post_next.png);
    background-size:100% 100%;
    width:53px;
    height:53px;
    padding-top:16px;
    padding-left:5px;
    margin-left: 20px;
    color:#ffffff;
    outline:none;
}

.rp_add_btn{
    background-image:url(/app/view/img/icon/post_add.png);
    background-size:100% 100%;
    width:53px;
    height:53px;
    padding-top:16px;
    padding-left:5px;
    margin-left: 20px;
    color:#ffffff;
    outline:none;
}

.rp_last_btn{
    background-image:url(/app/view/img/icon/post_previous.png);
    background-size:100% 100%;
    width:53px;
    height:53px;
    padding-top:16px;
    padding-left:5px;
    margin-left: 20px;
    color:#ffffff;
    outline:none;
}

.rp_cancel_btn{
    background-image:url(/app/view/img/icon/post_cancel.png);
    background-size:100% 100%;
    width:53px;
    height:53px;
    padding-top:16px;
    padding-left:5px;
    margin-left: 20px;
    color:#ffffff;
    outline:none;
}

.roomTypeBottonBedroom{
    height: 35px;
    text-align: center;
    color: white;
    background-color: rgb(231,132,110);
}

.roomTypeBottonLivingroom{
    height: 35px;
    text-align: center;
    color: white;
    background-color: rgb(71,175,150);
}

.roomTypeBottonOthers{
    height: 35px;
    text-align: center;
    color: white;
    background-color: rgb(88,93,151);
}

.affix {
    top: 10px;
    width: 291px;
}

.affix-bottom {
  position: absolute;
  width: 291px;
}

/*--end of rooms--*/


/*--begin of header--*/

.hdmsg{
    margin-top:20px;
    margin-right:10px;
    margin-left:10px;
    background-image:url(/app/view/img/header/msg2.png);
    background-size: 100% 100%;
    height: 18px;
    width: 27px;
    position: relative;
}
.hdmsg.home{
    background-image:url(/app/view/img/header/msg1.png);
}
.newmsg{
    position: absolute;
    top: -6px;
    right: -6px;
    height: 12px;
}
.newmsg.home{
    top: -5px;
    right: -5px;
}
.container-fluid.headerdiv{
    padding-left:13px;
    padding-right:0px;
    min-width:183px;
}

.post_list{
    text-align:center;
    border-bottom:1px solid #b3b3b4;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding:5px 0 10px 0;
    outline: none;
}

.post_list:hover{
    background-color: lightgray;
}

.post_list2{
    text-align:center;
    border-bottom:1px solid #b3b3b4;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding:5px 0 10px 0;
    outline: none;
    border-bottom:none;
}

.post_list2:hover{
    background-color: lightgray;
    border-radius:0 0px 8px 8px;
}

.hd.nav-li-a{
    height:55px;
    color:#000000;
    padding: 20px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
}

.hd_div_post{
    text-align:center;
    width:100;
    height:33;
    background-color:rgb(99,172,197);
    margin: 12px 10px 1px 15px;
    padding-top:3px;
    border-radius: 3px;
}
.hd_search{
    margin-top: 8px;
    margin-left:0px;
    margin-bottom:12px;
    width:285px;
    border:none;
    font-size:18px;
    outline:none;
    color:rgb(182,182,182);
}
.hdlogo{
    margin-left: -15px;
    padding: 8px 15px 15px 13px;
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}

.hdform{
    float:left!important;
    width: auto;
    padding: 0px 15px 0px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border: 0;
    box-shadow: none;
}

.hdul{
    float: right!important;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hdul>li{
    display: block;
    position: relative;
    float: left;
}
.hdul>li>a{
    display: block;
    position: relative;
}
/*--end of header--*/

/*--begin of activs post--*/
.ap_title{
    padding: 2px;
}

.ap_select{
    width: 110px;
}
/*--end of activs post--*/
.avatar-drop{
    background-image: url(/app/view/img/profile/drag.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 372px;
    height: 205px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.angular-google-map-container { height: 600px; }
#map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#s_school_d{
    background-color : #FFFFFF;
}

#icons1{
    height:100px;
    width:100px;
    margin-top:40px;
    margin-right:20px;
    margin-left:20px;
    background-size:100%;
    background-repeat:no-repeat;
}

#headBtn{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.filter-bar{
    background-image: url(/app/view/img/buttons/filter.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center;
    line-height:45px; 
    height: 45px;
    width: 165px;
    color:white;
}
.user-page-button{
    background-image: url(/app/view/img/buttons/btn1.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center;
    line-height:45px; 
    margin-left:55px; 
    margin-top:65px;
    width: 152px;
    height: 45px;
    color:#E15948;
}

.user-page-button-click{
    background-image: url(/app/view/img/buttons/btn2.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    text-align:center;
    line-height:45px; 
    margin-left:55px; 
    margin-top:65px;
    width: 152px;
    height: 45px;
    color:white;
}



.showMoreButton{
    background-size:100%;
    background-repeat:no-repeat;
    text-align:center;
    line-height:50px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:30px;
}


.img-padding{
    padding-right:10px;
    padding-left:20px;
}

div .three{
    height:230.6px;
    width:293.6px;
    background-repeat:no-repeat;
    background-size:cover;
    margin: 0px 14.5px 0px 14.5px;
}

.img-three{

}

.img-two{
    height: 288px; 
    width: 420px;
}

.img-one{
    height: 410px; 
    width: 600px;
}

.md-dialog-container{
    background-color: rgba(0,0,0,0.6);
}

md-sidenav.md-locked-open{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.docs-menu, .docs-menu ul{
    list-style: none;
    padding: 0px;
}

.docs-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.submit{
    color: black;
    background-color: rgb(60,180,157);
    background-color:white;
    width:115px;
}
.update{
    color: white;
    background-color: rgb(60,180,157);
    width:115px; 
}

.div_submit{
    position:absolute;
    bottom:20px;
    margin-left:42.5px;
}
.div_steps{
    margin-left:20px;
    position:absolute;
    left:10px;
    bottom:20px;
}
.site-sidenav {
  background: #EA5743;
}

.site-sidenav md-content {
  background: transparent;
}

md-select{
    padding: 0px;
}


<!--car post-->
.cp_select{
    90px;
}
<!--end of car post-->
<!--自建CSS-->
.nav_icon{
    padding-top: 8px;
    height: 24px;
}

.room_post{
    height: 520px;
}

.room_post_listing_content{
    background-color: #fff;
    padding: 0px 0px 0px 15px;
    float: none;
    width: 600px;
    height: auto;
    color:rgb(45,46,44)
}

.room_post_hr{
    width: 570px;
    margin-left: 0px;
    border:1px black solid
}

.room_post_div_content{
    margin-top: 20px;
    margin-bottom: 0px;
    width: 570px;
    height: 30px;
    outline:none;
}
.room_post_div_content.stepButton{
    position:absolute;
    right:20px;
    bottom:40px
}
.room_post_div{
    width: 570px;
}
.adr{
    margin-left: 0px;
}



.room_post_font_content{
    font-size: 16px;
    margin: 0px;
    color:black;
    font-weight: normal;
}
.room_post_font_content.fees{
    margin-top: 5px;
}
.room_post_font_content.err{
    color: red;
}
.rp_font_steps{
    font-size: 18px;
    float:  left;
}
.rp_font_steps.font{
    color: white;
}
.rp_font_steps.steps{
    color: rgb(60,180,157);
}
.room_post_input{
    padding: 0px;
    width: 135px;
    margin-bottom: 0px;
}

.room_post_input.text_input{
    width:80px;
}

.room_post_input.fees{
    width:80px;
}
.room_post_input.title{
    width:100%;
}
.room_post_input.addNum{
    width:10%;
}
.room_post_input.addAdd{
    width:35%;
}
.room_post_input.addCity{
    width:20%;
}
.room_post_input.addSta{
    width:5%;
}
.room_post_input.addZip{
    width:10%;
}
.rp_icon.icon_delete{
    color: orangered;
}


.rp_select{
    width: 80px;
}

.rp_checkbox{
    margin: 0px;
}

body{
    height: 100%;
    position: relative;
}

.hs_subtitle{
    font-family: Hiragino Sans GB;
    font-size:20px;
    color:black;
}

a{
    outline: none;
}

body a :focus {
    outline: none;  
}

body a:hover{
    text-decoration: none;
}

body a:link{
    text-decoration: none;
}

body a:acitve{
    text-decoration: none;
}

body a:visited{
    text-decoration: none;
}

body div{
    outline: none;
}
body img{
    outline: none;
}
body button{
    outline:none;
}

.verify-input{
    width:180px;
    height:22px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:0px;
    text-align:left;
}

.bg-input{
    background-image:url(/app/view/img/profile/bg_input.png);
    background-size:100% 100%;
    background-repeat: no-repeat;
    height:22px;
    width:82px;
    font-size:12px;
    text-align:center;
}

input[type="radio"]{
    -webkit-appearance: none;
    background: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid grey;
}
input[type=radio]:checked{
    background-image: url(/app/view/img/profile/verified.png);
    background-size: 100% 100%;
    border:0;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    background: white;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid grey;
}
input[type=checkbox]:checked{
    background-image: url(/app/view/img/profile/verified.png);
    background-size: 100% 100%;
    border:0;
    margin-top: 2px;
}
input[type=checkbox]:focus{
    outline: none;
}
.form-control .text-left{
    text-align:left;
}

.div-vertical-center{
    height:34px;
    line-height:34px;
}

.profile-page{
    height:410px;
    margin-top:20px;
}

.post-item-div{
    margin-left:40px;
    margin-bottom:10px;
    margin-top:10px;
    height: 72px;
    line-height:72px;
}

.msg-icon{
    margin-left:35px;
    margin-top:18px;
    height:44px;
    line-height:44px;
    text-align:center;
    width:44px;
    background-size:100% 100%;
    color:white;
}

.rotate{
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); /* Opera */
    color: white;
    padding-top:15px;
    padding-left:3px;
}

.ft{
    height:300px;
    background:rgb(234,87,67);
}
.footer_div{
    margin-top: 30px;
    margin-right: 0px;
}
.footer_div.select{
    padding-left: 90px;
}
.footer_select{
    background:#EEEEED;
    width:95px;
    height: 30px;
    color:#82888a;
}
.slct_div{
    margin-top:20px;
}
.footer_content{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto;
}
.footer_content.logos{
    margin-top: 15px;
    margin-bottom: 10px;
}

.footer_content.hr{
    margin-bottom: 0px;
    width: auto;
    margin-top: 0px;
}

.footer_img{
    height: 25px;
    float: left;
}

.footer_font{
    display: inline;
    color: aliceblue;
}

.ft_wchat{
    height: 135px;
}

.withBorderRdius{
    border-radius:3px;
}

.dropup:hover .dropdown-menu {
    display: block;
}

<!--profile css-->
.pf_apt_t{
margin-left:45px;width:150px;height:50px;
    overflow: hidden;
}
<!--end of profile css-->

<!--Typeahead-->
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-pic {
    text-align: left;
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 440px;
  margin-top: 4px;
  margin-left:-54px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    color: black;
  padding: 3px 12px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #ADD8E6;

}

.tt-suggestion p {
  margin: 0;
}
<!-- End of Typeahead-->

<!-- Begin of item -->
.carousel-control.nav{
    height: 100%;
}
<!-- End of item -->