<html ng-app="hereseasApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hereseas</title>

    <link rel='stylesheet' href='/public/libs/angular-material/angular-material.css'>
    <link rel='stylesheet' href='/public/libs/angular-loading-bar/loading-bar.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- OneUI CSS framework -->
    <link rel="stylesheet" id="css-main" href="/public/assets/css/oneui.css">

    <!-- Libraries -->
    <!-- angular -->
    <script type="text/javascript" src="/public/libs/jquery/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-route.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-animate.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-aria.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-messages.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-sanitize.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-local-storage.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-loader-partial.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-storage-cookie.js"></script>
    <script type="text/javascript" src="/public/libs/angular/angular-translate-storage-local.js"></script>
    <script type="text/javascript" src="/public/libs/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/public/libs/angular-loading-bar/loading-bar.js"></script>



    <script type="text/javascript" src="/app/hereseas.js"></script>
    <script type="text/javascript" src="/app/common/languages.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="/app/service/commonService.js"></script>
    <script type="text/javascript" src="/app/service/derectives.js"></script>
    <script type="text/javascript" src="/app/service/userService.js"></script>
    <script type="text/javascript" src="/app/controller/appCtrl.js"></script>




    <!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
    <script src="/public/assets/js/core/jquery.min.js"></script>
    <script src="/public/assets/js/core/bootstrap.min.js"></script>
    <script src="/public/assets/js/core/jquery.slimscroll.min.js"></script>
    <script src="/public/assets/js/core/jquery.scrollLock.min.js"></script>
    <script src="/public/assets/js/core/jquery.appear.min.js"></script>
    <script src="/public/assets/js/core/jquery.countTo.min.js"></script>
    <script src="/public/assets/js/core/jquery.placeholder.min.js"></script>
    <script src="/public/assets/js/core/js.cookie.min.js"></script>



</head>
<body ui-view>
</body>
</html>
